{% extends "school/layout.html" %}
{% block body %}
	
	      <div class="row">
	          <div class="span16">
	      <div class="breadcrumb">
	      	<span>当前位置：</span><a href="index.html">首页</a><span class="divider">>></span>课程列表<span class="divider">>></span><span class="active"><a href="#" id="">自然科学</a></span></div>

	          <div class="box mbox "  >
	            <div class="head"  >
	              <div class="title ">
	              <a href="#" target="_blank" class="blue">自然科学</a> 


	              </div>
	            <div class="more">

	            <a href="#" target="_blank">更多</a>
	            </div>
	            </div>
	          <div class="videolist body clearfix">
	         <div class="" description="" id="course_list">
	         	<div class="list">
	<div class="border">
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
	    <tbody>
	       <tr>
	    <td class="td1" rowspan="3"><a href="/details/10055V003" class="videoImg" target="_blank"><img src="{{url_for('static',filename='images/default.gif')}}" alt="数学文化" onerror="this.onerror=null;this.src='{{url_for('static',filename='images/default.gif')}}'"><span class="newvideo_no"></span></a></td>
	    <td class="td2">数学文化<span><a href="detail.html" target="_blank">在线观看</a></span></td>

	  </tr>
	   <tr>
	    <td class="td3">所属学校：<span>南开大学</span>
	主讲教师：<span>顾沛</span></td>

	  </tr>
	  <tr>
	    <td class="td4">　　“数学文化”课以难易适当的知识为载体介绍数学的思想、精神，提高学生的数学素养，特别注意科学精神与人文精神的融合。
	该课程注重知识性、趣味性、思想性、应用性的统一，注重师生互动。
	　　课程努力贯彻素质教育的思想， ...
	                  <a href="{{url_for('video_in_school')}}"" target="_blank">[展开详情]</a></td>
	  </tr>
	   </tbody>
	</table>
	</div><script>
	</script><div class="border">
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
	    <tbody>
	       <tr>
	    <td class="td1" rowspan="3"><a href="/details/11942V002" class="videoImg" target="_blank"><img src="{{url_for('static',filename='images/default.gif')}}" alt="人体解剖学" onerror="this.onerror=null;this.src='{{url_for('static',filename='images/default.gif')}}'"><span class="newvideo_no"></span></a></td>
	    <td class="td2">人体解剖学<span><a href="detail.html" target="_blank">在线观看</a></span></td>

	  </tr>
	   <tr>
	    <td class="td3">所属学校：<span>中南大学</span>
	主讲教师：<span>罗学港,卢大华</span></td>

	  </tr>
	  <tr>
	    <td class="td4">　　人体解剖学是门古老的学科，是门经典课程，但又是门重要的基础医学课程，是医学生的必修课。人体解剖学是研究正常人体形态结构的科学，是一门重要的医学主干学科，是医学各学科的基础。在医学科学、生命科学高度发展的今天，人体解 ...
	                  <a href="{{url_for('video_in_school')}}"" target="_blank">[展开详情]</a></td>
	  </tr>
	   </tbody>
	</table>
	</div><script>
	</script><div class="border">
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
	    <tbody>
	       <tr>
	    <td class="td1" rowspan="3"><a href="/details/10019V001" class="videoImg" target="_blank"><img src="{{url_for('static',filename='images/default.gif')}}" alt="食品与健康" onerror="this.onerror=null;this.src='{{url_for('static',filename='images/default.gif')}}'"><span class="newvideo_no"></span></a></td>
	    <td class="td2">食品与健康<span><a href="detail.html" target="_blank">在线观看</a></span></td>

	  </tr>
	   <tr>
	    <td class="td3">所属学校：<span>中国农业大学</span>
	主讲教师：<span>何计国</span></td>

	  </tr>
	  <tr>
	    <td class="td4">　　《食品与健康》是中国农业大学食品学院面向全校和学院路共同体的其他院校开设的公共选修课，旨在传授学生科学饮食理论、培养良好的饮食习惯、提高居民健康水平。课程内容包括各类食品的营养优势与缺陷、与其他食物的互补及宜搭配的 ...
	                  <a href="{{url_for('video_in_school')}}"" target="_blank">[展开详情]</a></td>
	  </tr>
	   </tbody>
	</table>
	</div><script>
	</script><div class="border">
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
	    <tbody>
	       <tr>
	    <td class="td1" rowspan="3"><a href="/details/10269V003" class="videoImg" target="_blank"><img src="{{url_for('static',filename='images/default.gif')}}" alt="科技信息图示设计" onerror="this.onerror=null;this.src='{{url_for('static',filename='images/default.gif')}}'"><span class="newvideo_no"></span></a></td>
	    <td class="td2">科技信息图示设计<span><a href="detail.html" target="_blank">在线观看</a></span></td>

	  </tr>
	   <tr>
	    <td class="td3">所属学校：<span>华东师范大学</span>
	主讲教师：<span>黄余明</span></td>

	  </tr>
	  <tr>
	    <td class="td4">　　本课程接轨“大学生基础素质教育”的要求，把握理工科学生的知识背景与素质结构特征，从地图制图教学实践出发，融合艺术设计、视觉认知、信息与计算机学科的相关知识，创新教学内容。既讲究技术性，又强调科学的艺术倾向，期望将视 ...
	                  <a href="{{url_for('video_in_school')}}"" target="_blank">[展开详情]</a></td>
	  </tr>
	   </tbody>
	</table>
	</div><script>
	</script><div class="border">
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
	    <tbody>
	       <tr>
	    <td class="td1" rowspan="3"><a href="/details/10183V002" class="videoImg" target="_blank"><img src="{{url_for('static',filename='images/default.gif')}}" alt="改变世界的机器——汽车科技发展" onerror="this.onerror=null;this.src='{{url_for('static',filename='images/default.gif')}}'"><span class="newvideo_yes"></span></a></td>
	    <td class="td2">改变世界的机器——汽车科技发展<span><a href="detail.html" target="_blank">在线观看</a></span></td>

	  </tr>
	   <tr>
	    <td class="td3">所属学校：<span>吉林大学</span>
	主讲教师：<span>高青,袁兆成,邓伟文,高振海,王建华,王忠恕,杨博</span></td>

	  </tr>
	  <tr>
	    <td class="td4">　　《改变世界的机器——汽车科技发展》视频公开课是一门关于汽车科技发展史的公选类课程。它沿着汽车工业科技发展的轨迹，回顾了工业革命和科技进步的精彩篇章，展示了中国汽车产业发展与世界汽车工业的延绵历程。本课程内容始终贯彻 ...
	                  <a href="{{url_for('video_in_school')}}"" target="_blank">[展开详情]</a></td>
	  </tr>
	   </tbody>
	</table>
	</div><script>
	</script><div class="border">
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
	    <tbody>
	       <tr>
	    <td class="td1" rowspan="3"><a href="/details/10055V002" class="videoImg" target="_blank"><img src="{{url_for('static',filename='images/default.gif')}}" alt="化学与社会" onerror="this.onerror=null;this.src='{{url_for('static',filename='images/default.gif')}}'"><span class="newvideo_no"></span></a></td>
	    <td class="td2">化学与社会<span><a href="detail.html" target="_blank">在线观看</a></span></td>

	  </tr>
	   <tr>
	    <td class="td3">所属学校：<span>南开大学</span>
	主讲教师：<span>杨光明</span></td>

	  </tr>
	  <tr>
	    <td class="td4">　　有人说《化学：中心科学》，也有人说《爱情是一种化学反应》。北京大学周公度教授解读了《化学是什么？》，北京大学校长周其凤院士一曲 “化学是你，化学是我……化学为生命密码解锁，化学不能不火！”诙谐幽默地唱出了《无处不在 ...
	                  <a href="{{url_for('video_in_school')}}"" target="_blank">[展开详情]</a></td>
	  </tr>
	   </tbody>
	</table>
	</div><script>
	</script><div class="border">
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
	    <tbody>
	       <tr>
	    <td class="td1" rowspan="3"><a href="/details/10248V001" class="videoImg" target="_blank"><img src="{{url_for('static',filename='images/default.gif')}}" alt="眼病的预防与治疗" onerror="this.onerror=null;this.src='{{url_for('static',filename='images/default.gif')}}'"><span class="newvideo_no"></span></a></td>
	    <td class="td2">眼病的预防与治疗<span><a href="detail.html" target="_blank">在线观看</a></span></td>

	  </tr>
	   <tr>
	    <td class="td3">所属学校：<span>上海交通大学</span>
	主讲教师：<span>范先群</span></td>

	  </tr>
	  <tr>
	    <td class="td4">　　眼科学是我校历史悠久，发展长远的特色学科之一。早在50年代初上海第二医学院组建之初，该门学科已在我国著名的眼科专家奚渭清教授的创导下开始组建，后经奚渭清教授的终身努力，形成了以视觉电生理为特色的专业学科，不仅承担起 ...
	                  <a href="{{url_for('video_in_school')}}"" target="_blank">[展开详情]</a></td>
	  </tr>
	   </tbody>
	</table>
	</div><script>
	</script><div class="border">
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
	    <tbody>
	       <tr>
	    <td class="td1" rowspan="3"><a href="/details/10007V002" class="videoImg" target="_blank"><img src="{{url_for('static',filename='images/default.gif')}}" alt="技术光学" onerror="this.onerror=null;this.src='{{url_for('static',filename='images/default.gif')}}'"><span class="newvideo_no"></span></a></td>
	    <td class="td2">技术光学<span><a href="detail.html" target="_blank">在线观看</a></span></td>

	  </tr>
	   <tr>
	    <td class="td3">所属学校：<span>北京理工大学</span>
	主讲教师：<span>李林</span></td>

	  </tr>
	  <tr>
	    <td class="td4">　　本视频课程通过教学使学生学了解几何光学、典型光学仪器原理、激光光学系统及红外光学系统等的基础理论和方法。课程内容主要包括：望远镜和显微镜的原理和发展进程，照相机系统，空间光学系统，激光技术应用，全息术，虚拟现实技术 ...
	                  <a href="{{url_for('video_in_school')}}"" target="_blank">[展开详情]</a></td>
	  </tr>
	   </tbody>
	</table>
	</div><script>
	</script><div class="border">
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
	    <tbody>
	       <tr>
	    <td class="td1" rowspan="3"><a href="/details/10335V002" class="videoImg" target="_blank"><img src="{{url_for('static',filename='images/default.gif')}}" alt="新材料与社会进步" onerror="this.onerror=null;this.src='{{url_for('static',filename='images/default.gif')}}'"><span class="newvideo_no"></span></a></td>
	    <td class="td2">新材料与社会进步<span><a href="detail.html" target="_blank">在线观看</a></span></td>

	  </tr>
	   <tr>
	    <td class="td3">所属学校：<span>浙江大学</span>
	主讲教师：<span>叶志镇,赵新兵</span></td>

	  </tr>
	  <tr>
	    <td class="td4">　　浙江大学材料系叶志镇教授主讲的《新材料与社会进步》视频课程采用现代信息技术手段，面向以大学生为主体的社会公众，传播当今科技界材料领域的最新进展，及其与社会发展的密切关系。课程内容包括目前的热点——新能源材料（太阳能 ...
	                  <a href="{{url_for('video_in_school')}}"" target="_blank">[展开详情]</a></td>
	  </tr>
	   </tbody>
	</table>
	</div><script>
	</script><div class="border">
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
	    <tbody>
	       <tr>
	    <td class="td1" rowspan="3"><a href="/details/10561V001" class="videoImg" target="_blank"><img src="{{url_for('static',filename='images/default.gif')}}" alt="文化传承与建筑创新" onerror="this.onerror=null;this.src='{{url_for('static',filename='images/default.gif')}}'"><span class="newvideo_no"></span></a></td>
	    <td class="td2">文化传承与建筑创新<span><a href="detail.html" target="_blank">在线观看</a></span></td>

	  </tr>
	   <tr>
	    <td class="td3">所属学校：<span>华南理工大学</span>
	主讲教师：<span>何镜堂</span></td>

	  </tr>
	  <tr>
	    <td class="td4">该门课程以何镜堂院士提出的文化传承与建筑创新为主线，既涵盖了何镜堂院士从多年设计实践中总结出的“两观三性”建筑理论以及其在该理论指导下的一系列精彩的设计案例，重点介绍了2010上海世博会中国馆在文化传承与建筑创新方面的 ...
	                  <a href="{{url_for('video_in_school')}}"" target="_blank">[展开详情]</a></td>
	  </tr>
	   </tbody>
	</table>
	</div><script>
	</script><div class="border">
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
	    <tbody>
	       <tr>
	    <td class="td1" rowspan="3"><a href="/details/10027V001" class="videoImg" target="_blank"><img src="{{url_for('static',filename='images/default.gif')}}" alt="从爱因斯坦到霍金的宇宙" onerror="this.onerror=null;this.src='{{url_for('static',filename='images/default.gif')}}'"><span class="newvideo_no"></span></a></td>
	    <td class="td2">从爱因斯坦到霍金的宇宙<span><a href="detail.html" target="_blank">在线观看</a></span></td>

	  </tr>
	   <tr>
	    <td class="td3">所属学校：<span>北京师范大学</span>
	主讲教师：<span>赵峥</span></td>

	  </tr>
	  <tr>
	    <td class="td4">本课程用通俗的语言定性介绍爱因斯坦的狭义与广义相对论，以及建立在此基础上的黑洞理论和现代宇宙学。有没有黑洞，它有什么特点；什么是弯曲的时空。膨胀的宇宙；可不可能有时空隧道和时间机器。介绍爱因斯坦和霍金的创新经历，他们对 ...
	                  <a href="{{url_for('video_in_school')}}"" target="_blank">[展开详情]</a></td>
	  </tr>
	   </tbody>
	</table>
	</div><script>
	</script><div class="border">
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
	    <tbody>
	       <tr>
	    <td class="td1" rowspan="3"><a href="/details/10358V001" class="videoImg" target="_blank"><img src="{{url_for('static',filename='images/default.gif')}}" alt="认识宇宙" onerror="this.onerror=null;this.src='{{url_for('static',filename='images/default.gif')}}'"><span class="newvideo_no"></span></a></td>
	    <td class="td2">认识宇宙<span><a href="detail.html" target="_blank">在线观看</a></span></td>

	  </tr>
	   <tr>
	    <td class="td3">所属学校：<span>中国科学技术大学</span>
	主讲教师：<span>向守平</span></td>

	  </tr>
	  <tr>
	    <td class="td4">    本课程介绍了宇宙各主要层次的结构和演化的概况，包括太阳系、恒星、星系以及星系团等。同时介绍了人类对宇宙的认识从原始到现代的演变，以及观测技术和方法不断发展的过程。
	    本课程定位为大学生文化素质教育课程。 ...
	                  <a href="{{url_for('video_in_school')}}"" target="_blank">[展开详情]</a></td>
	  </tr>
	   </tbody>
	</table>
	</div><script>
	</script><div class="border">
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
	    <tbody>
	       <tr>
	    <td class="td1" rowspan="3"><a href="/details/10007V001" class="videoImg" target="_blank"><img src="{{url_for('static',filename='images/default.gif')}}" alt="信息系统与安全对抗理论" onerror="this.onerror=null;this.src='{{url_for('static',filename='images/default.gif')}}'"><span class="newvideo_no"></span></a></td>
	    <td class="td2">信息系统与安全对抗理论<span><a href="detail.html" target="_blank">在线观看</a></span></td>

	  </tr>
	   <tr>
	    <td class="td3">所属学校：<span>北京理工大学</span>
	主讲教师：<span>王越</span></td>

	  </tr>
	  <tr>
	    <td class="td4">从顶至下、从普适到专门，基于现代系统理论，结合自组织、耗散结构以及从定性到定量综合集成的研讨方法，针对信息、复杂信息系统、信息系统运行秩序及其基本特征，重点构建并讲授信息与信息系统的安全对抗基础理论体系，信息安全与对抗 ...
	                  <a href="{{url_for('video_in_school')}}"" target="_blank">[展开详情]</a></td>
	  </tr>
	   </tbody>
	</table>
	</div><script>
	</script><div class="border">
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
	    <tbody>
	       <tr>
	    <td class="td1" rowspan="3"><a href="/details/11942V001" class="videoImg" target="_blank"><img src="{{url_for('static',filename='images/default.gif')}}" alt="人工智能PK人类智能" onerror="this.onerror=null;this.src='{{url_for('static',filename='images/default.gif')}}'"><span class="newvideo_no"></span></a></td>
	    <td class="td2">人工智能PK人类智能<span><a href="detail.html" target="_blank">在线观看</a></span></td>

	  </tr>
	   <tr>
	    <td class="td3">所属学校：<span>中南大学</span>
	主讲教师：<span>蔡自兴,刘丽珏</span></td>

	  </tr>
	  <tr>
	    <td class="td4">    视频课程精选人工智能领域中一些具有代表性的内容进行介绍，包括人工智能的起源、发展等历史，以及在人工智能领域影响最大的三大学派和他们的认知观，人工智能的研究目标、研究内容和研究方法等；另外，对人工智能中几种经典技 ...
	                  <a href="{{url_for('video_in_school')}}"" target="_blank">[展开详情]</a></td>
	  </tr>
	   </tbody>
	</table>
	</div><script>
	</script><div class="border">
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
	    <tbody>
	       <tr>
	    <td class="td1" rowspan="3"><a href="/details/10006V001" class="videoImg" target="_blank"><img src="{{url_for('static',filename='images/default.gif')}}" alt="航空航天概论" onerror="this.onerror=null;this.src='{{url_for('static',filename='images/default.gif')}}'"><span class="newvideo_no"></span></a></td>
	    <td class="td2">航空航天概论<span><a href="detail.html" target="_blank">在线观看</a></span></td>

	  </tr>
	   <tr>
	    <td class="td3">所属学校：<span>北京航空航天大学</span>
	主讲教师：<span>杨超</span></td>

	  </tr>
	  <tr>
	    <td class="td4">   《航空航天概论》以飞行器为中心，介绍了它的飞行原理、动力系统、机载设备、构造及其地面设备等方面的基本知识、基本原理和常用技术，同时也介绍了一些航空航天技术的最新成就和发展动态。
	    通过课程的学习，可以使学 ...
	                  <a href="{{url_for('video_in_school')}}"" target="_blank">[展开详情]</a></td>
	  </tr>
	   </tbody>
	</table>
	</div><script>
	</script>

	<div class="pages ">总<span class="cpage">1</span>页  第<span class="cpage">1 </span>页      <span class="page">[<a href="?start=1&amp;category=713d1ba0-12dc-1000-90f1-81a5dfc6af2f">1</a>]</span>          共<span class="total">15</span>条 <span id="pageJumper"></span></div>
	</div><div class="list"><div class="block"><div class="block_body">


	<div id="hotCourseList"></div>


	</div></div></div></div>

	          </div>

	          <div class="clearFloat"></div>
	          </div>
	          </div>  <!-- /span16 -->






	          </div> <!-- /row -->
{% endblock body %}