{% extends "baseStyle/layout.html" %}
{% block body %}
	<!-- Page title -->
	<div id="pagetitle">
		<div class="wrapper">
			<h1>Graph examples</h1>
			<!-- Quick search box -->
			<form action="" method="get"><input class="" type="text" id="q" name="q" /></form>
		</div>
	</div>
	<!-- End of Page title -->
	
	<!-- Page content -->
	<div id="page">
		<!-- Wrapper -->
		<div class="wrapper">
				<!-- Left column/section -->
				<section class="column width6 first">					

					<h3>Sparklines</h3>
					
					<p>Inline <b>bar graphs</b> <span id="sparkline1"></span> or <b>line graphs</b> <span id="sparkline2"></span></p> 

					<p class="pit box-info"><a HREF="../../omnipotent.net/jquery.sparkline/index.htm">jQuery Sparkline</a> documentation</p>
					
					<h3>Graphical plots</h3>
					
					<div id="placeholder" style="height:300px"></div> 
				
					<p class="pit box-info"><a HREF="../../code.google.com/p/flot/index.htm">jQuery flot</a> documentation</p>
				
					<h4>Sample usage</h4>
					<span class="subtitle">Plotting weather data</span>
					<hr/>
					
					<p>TIP: Try to select an area of the graph</p>
					<div id="flotPlaceholder" style="height:300px;"></div>
					<input id="clearSelection" type="button" class="btn" value="Zoom out" style="display:none"/>
					<p>&nbsp;</p>
					
				</section>
				<!-- End of Left column/section -->
				
				<!-- Right column/section -->
				<aside class="column width2">
					<div id="rightmenu">
						<header>
							<h3>You might also want to check out...</h3>
						</header>
						<dl class="first">
							<dt><img width="16" height="16" alt="Basic styles" SRC="img/style.png"></dt>
							<dd><a HREF="styles.html">Basic styles</a></dd>
							<dd class="last">Basic elements and styles</dd>							
							
							<dt><img width="16" height="16" alt="" SRC="img/book.png"></dt>
							<dd><a HREF="../../omnipotent.net/jquery.sparkline/index.htm">jQuery Sparkline</a></dd>
							<dd class="last">jQuery Sparkline documentation</dd>							
							
							<dt><img width="16" height="16" alt="" SRC="img/book.png"></dt>
							<dd><a HREF="../../code.google.com/p/flot/index.htm">jQuery flot</a></dd>
							<dd class="last">jQuery flot documentation</dd>							
						</dl>
					</div>
					<div class="content-box">
						<header>
							<h3>Charts</h3>
						</header>
						<section>
							Try other alternatives:<br/>
							<dl>
								<dt></dt>
								<dd><a HREF="http://www.865171.cn">www.865171.cn</a></dd>
								<dt></dt>
								<dd><a HREF="http://www.865171.cn">www.865171.cn</a></dd>
							</dl>
						</section>
					</div>
				</aside>
				<!-- End of Right column/section -->
				
		</div>
		<!-- End of Wrapper -->
	</div>
	<!-- End of Page content -->
	
	
	
	<!-- Scroll to top link -->
	<a href="#" id="totop">^ scroll to top</a>

{% endblock %}