	<!-- Header -->
	<header id="top">
		<div class="wrapper">
			<!-- Title/Logo - can use text instead of image -->
			<div id="title"><img SRC="img/logo.png" alt="Administry" /><!--<span>Administry</span> demo--></div>
			<!-- Top navigation -->
			<div id="topnav">
				<a href="#"><img class="avatar" SRC="img/user_32.png" alt="" /></a>
				Logged in as <b>Admin</b>
				<span>|</span> <a href="#">Settings</a>
				<span>|</span> <a href="#">Logout</a><br />
				<small>You have <a href="#" class="high"><b>1</b> new message!</a></small>
			</div>
			<!-- End of Top navigation -->
			<!-- Main navigation -->
			<nav id="menu">
				<ul class="sf-menu">
					<li class="current"><a HREF="{{url_for('dashboard')}}">Dashboard</a></li>
					<li>
						<a HREF="{{url_for('baseStyle')}}">Styles</a>
						<ul>
							<li>
								<a HREF="{{url_for('baseStyle')}}">Basic Styles</a>
							</li>
							<li>
								<a href="#">Sample Pages...</a>
								<ul>
									<li><a HREF="{{url_for('files')}}">Files</a></li>
									<li><a HREF="{{url_for('newOne')}}">Products</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a HREF="{{url_for('tables')}}">Tables</a></li>
					<li><a HREF="{{url_for('forms')}}">Forms</a></li>	
					<li><a HREF="{{url_for('graphs')}}">Graphs</a></li>	
				</ul>
			</nav>
			<!-- End of Main navigation -->
			<!-- Aside links -->
			<aside><b>English</b> &middot; <a href="#">Spanish</a> &middot; <a href="#">German</a></aside>
			<!-- End of Aside links -->
		</div>
	</header>
	<!-- End of Header -->