

.box{
  #gradient > .vertical(@white, darken(@white,6%));
  margin-top:@gridGutterWidth;

  .head{

      // position: relative;
    //   z-index:20;
    #gradient > .vertical(#ffffff, #f0f0f0);
    border:1px solid #cbcbcb;
    border-bottom:1px solid #cbcbcb;

  }

  .body{
    border:1px solid #cbcbcb;
    position: relative;
    z-index:10;
  }

}






.mbox{
  .head{
    height:30px;
    padding:5px;
    line-height:30px;
    border-bottom:2px solid @blueDark;
    .border-radius(10px 10px 0 0);
    .title{
        text-indent:18px;
        float:left;
        font-weight:bold;
        a{
          color:#7F151A;
        }
    }
    .more{
      font-size:12px;
      float:right;
      margin-right:10px;
      a{
        color:#15797F;
      }
    }

    .tabs > li {
      margin-bottom:-2px;
      a{
      line-height:24px;

      &:hover{
          text-decoration: none;
      }
      }
      .active >a{
          background-color: #f1f0f0;
          border-bottom-color: transparent;
        &:hover{
          background-color: #f1f0f0;
          border-bottom-color: transparent;
        }
      }
    }
  }
  .foot{
      clear: both;
  } 
  .pill-content{
    background-color:transparent;
    border:none;
  }
}



.catalog{
  width:300px;
}
.box .head .caption .catalog ,.catalog{
  position:relative;
/*  float: right;*/
  margin-left:10px;
}
.box .head .caption .catalog li{
  display: inline;
  bottom:-5px;
}

.caption {
  margin-left:18px;
}



.nBox h3{
  font-size:18px;
}
.nBox .head {
  border:none;
  border-bottom: 2px solid #7F5215;
height:30px;
}
.nBox .body{
  clear:both;
  border-top:none;
}

.no-box .head .caption {
float: left;
margin-right: 5px;
}
.no-box .head .extend{
  float:right;
}
.no-box {
  margin-bottom:15px;
}

.items{
  ul{
    float: left;
    margin-left:5px;
  }
}




// clear
.items .clearFloat,.box .clearFloat{
  clear: both;
}

.items .p .p_stat{
  overflow: visible;

}
.p li label, .p li .label{
  display: inline;

}
.p li.p_actor {
float: left;
}
.p li.p_stat{
      white-space:normal;
}






.left_time {
float: left;
width: 220px;
height: 190px;
background: url(images/img/index_220.gif) no-repeat;
}
.time_left {
float: left;
width: 25px;
height: 28px;
padding-left: 15px;
padding-top: 5px;
}
.time_right {
float: left;
width: 150px;
font: bold 12px/28px Arial, Helvetica, sans-serif;
color: black;
}
.more2{ float:right; width:50px; background:url(images/button1.gif) no-repeat left; font: 12px/18px Arial, Helvetica, sans-serif; color:#fff; margin-top:5px; text-align: center; }
.gengduo2 {
float: right;
width: 50px;
background: url(images/img/button1.gif) no-repeat left;
font: 12px/18px Arial, Helvetica, sans-serif;
color: white;
margin-top: 5px;
text-align: center;
margin-right: 0px;
}
.centers2{ float:left; margin-left:20px; margin-right:20px; width:700px; background: url(images/img/index_700.gif) no-repeat;  height:430px;}
.top_center {
width: 100px;
float: left;
background: url(images/ico/16_ico_rss.gif) no-repeat 15px 5px;
padding-top: 5px;
padding-left: 40px;
font: bold 12px Arial, Helvetica, sans-serif;
color: black;
}
.center {
float: left;
margin-left: 20px;
margin-right: 20px;
width: 700px;
background: url(images/img/index_700_short.gif) no-repeat;
height: 190px;
}
.center .title {
width: 680px;
padding-top: 10px;
padding-left:10px;
}
.title_left {
width: 200px;
float: left;
font: bold 12px/20px Arial, Helvetica, sans-serif;
color: black;
}
.title_right {
width: 100px;
float: right;
font: 12px/20px Arial, Helvetica, sans-serif;
color: #821122;
}
.title_right a {
color: #CB7710;
text-decoration: none;
}
.title_right a {
color: #CB7710;
text-decoration: none;
}
.pic {
background: #CDD3D9;
width: 134px;
height: 114px;
float: left;
padding: 3px;
}
.createweb {
float: right;
width: 60px;
font: 12px Arial, Helvetica, sans-serif;
color: #821122;
padding-top: 5px;
}
.my_center {
width: 120px;
float: left;
padding-left: 40px;
background: url(images/ico/16_ico_course.gif) no-repeat 15px 3px;
padding-top: 5px;
font: bold 12px Arial, Helvetica, sans-serif;
color: black;
}
.center_top {
float: left;
width: 700px;
padding-top: 2px;
}
.web_title {
width: 100px;
margin-left:20px;
float: left;
}
.biaoti a {
color: #821122;
text-decoration: none;
}
.biaoti a:hover {
color: #821122;
text-decoration: underline;
}
.web_title ul li {
float: left;
width: 90px;
float: left;
font: 12px/22px Arial, Helvetica, sans-serif;
color: black;
}
.web_title ul li.biaoti {
font: bold 12px/22px Arial, Helvetica, sans-serif;
color: black;
}
.web_title ul li.web_manage {
float: left;
width: 80px;
background: url(images/img/button2.gif) no-repeat left;
font: 12px/18px Arial, Helvetica, sans-serif;
color: white;
text-align: center;
}


.web_left {
float: left;
width: 220px;
height: 190px;
background: url(images/img/index_220.gif) no-repeat;
}
.web_message {
background: #DFDAC9;
}
.web_message_left {
float: left;
width: 25px;
height: 30px;
padding-top: 5px;
padding-left: 15px;
}
.web_message_right {
float: left;
width: 180px;
font: bold 12px/25px Arial, Helvetica, sans-serif;
color: black;
}
.setmessage {
float: right;
font: 12px/25px Arial, Helvetica, sans-serif;
width: 70px;
}
.setmessage a {
text-decoration: none;
color: #CB7710;
}
.xiaoxi_ico {
float: left;
background: url(images/ico/16_ico_message.gif) no-repeat;
width: 16px;
height: 16px;
}
.message_center {
width: 690px;

}
.message_center ul {
width: 690px;
float: left;
margin-left: 10px;
}
.message_center ul li {
float: left;
width: 675px;
font: 12px/22px Arial, Helvetica, sans-serif;
color: black;
padding-left: 15px;
background: url(images/img/dot.gif) no-repeat 5px 10px;
}
.message_center a {
text-decoration: none;
color: #88816C;
}
.message2 {
float: left;
width: 220px;
height:132px;
}
.message2 ul {
width: 220px;
float: left;
margin-left: 0px;
}
.message2 ul li {
float: left;
width: 196px;
font: 12px/22px Arial, Helvetica, sans-serif;
color: black;
padding-left: 24px;
background: url(images/img/dot.gif) no-repeat 10px 10px;
}
.size {
width: 350px;
float: right;

}
.size ul li {
width: 35px;
float: left;
color: white;
font: 12px/22px Arial, Helvetica, sans-serif;
text-align: center;
margin-left: 3px;
}
.size ul li.size1 a {
float: left;
width: 35px;
background: url(images/img/rss_tab.gif) no-repeat -35px 3px;
color: white;
text-decoration: none;
}
.size ul li a:hover {
float: left;
width: 35px;
background: url(images/img/rss_tab.gif) no-repeat -35px 3px;
color: white;
text-decoration: none;
}
.size ul li a {
float: left;
width: 35px;
background: url(images/img/rss_tab.gif) no-repeat 0px 3px;
color: white;
text-decoration: none;
}
.personInfo{
  margin: 0 auto;
  text-align:center;
}