/*function css*/


.changeStyle {
  display:block;
  text-indent:-9000px;
  background:url(colorS.gif);
  width:12px;
  height:12px;
  float:right;
  border:3px solid #Dadada;
}
#greyICO{
  background-position: -7px 15px;
}
#greenICO{
  background-position: 46px 15px;
}
#brownICO{

    background-position: 24px 15px;
}

.toggleWarp{

  text-align:right;
}


