/*function css*/
.avatar{
  margin-left:20px;
}
.changeStyle {
  display:block;
  text-indent:-9000px;
  background:url(colorS.gif);
  width:12px;
  height:12px;
  float:right;
  border:3px solid #Dadada;
}
#greyICO{
  background-position: -7px 15px;
}
#greenICO{
  background-position: 46px 15px;
}
#brownICO{

    background-position: 24px 15px;
}

.toggleWarp{

  text-align:right;
}


#totop {
background: @grayLighter;
bottom: 2px;
display: block;
opacity: 0.9;
-khtml-opacity: .9;
-moz-opacity: 0.9;
padding: 3px 6px;
position: fixed;
right: 2px;
color: #666;
text-decoration: none;
cursor: pointer;
}



#productdesc{
  width:90%;
}





.posterOnePic2 .item_info .item_block .item_line{
  .ie7-alphaImageLoader("@{iconYoukuPath}lightline.png");}

.posterOnePic2 .playlight{
  .ie7-alphaImageLoader("@{iconYoukuPath}lightline.png");}

.posterOnePic2 .control .btnprev{background:url("@{iconYoukuPath}btnprew.png") no-repeat 0 0;
.ie7-alphaImageLoader("@{iconYoukuPath}lightline.png");}
.posterOnePic2 .control .btnnext{background:url("@{iconYoukuPath}btnnext.png") no-repeat 0 0;
.ie7-alphaImageLoader("@{iconYoukuPath}lightline.png")}

.content-box .head{}
.content-box .caption{
  background:url("@{iconJQPath}toggle-open-close.gif") 0 3px no-repeat;

  height:15px;
}
.content-box .content-box-closed{
  background-position: 0 -21px ;

  height:15px;
}





.collapse{
  height:0px;
  overflow:hidden;
}




.content-box .body{ min-height:100px;}

.count_wrapper{
  overflow: hidden;
  float:right;
}


.count_comment {
display: inline-block;
margin: 18px 0;
height: 36px;
vertical-align: middle;
vertical-align: 10px;
}
.comment{
  border-top:1px solid #cbcbcb;
  padding:10px;
}
.comment  .bar{
    float:left;
    margin-right:20px;
    width:80px;
  }
.comment  .con{
    overflow: hidden;

  }

.defaultext{
  width:100%;
  height:80px;
}

.count_wrapper .pagination {
min-width: 300px;
display: inline-block;
}

.videolist-heng li{
  display: block;
  height:100px;
}
.videolist-heng .vediodiv{
  float:left;
}

.videolist-heng p{
  margin-left:10px;
  overflow:hidden;
  padding-left:20px;
}

.pub{
  
}
.baseinfo{
  list-style:none;
  margin-top:20px;
}
.intro{
  text-indent:20px;
  overflow:hidden;
}

.baseinfo label{
  display:inline;
}

.bulletin_Board body{
  padding-top:20px;
}