#header{
  background:#137379 url('../style/img/header.gif') repeat-x;
  margin:10 auto;
  padding-top:10px;
  text-align:center;
  height:100px;
  #title{

  }
  #logo{
    color:#7F151A;
    font-size:36px;
    font-weight:bold;
    text-shadow:  1px 1px 1px #3a3a3a;
    float:left;
    margin:20px;
  }
  #topnav{
    float:right;
    font-size:12px;
  }
  #searchbar{
    float:right;
    margin:20px 10px;
  }
}






#footer{

}



/* 
 *  for swfobject
 */

.mediaPlayerWrap{
  margin-top: 0;
}
