{% extends "school/layout.html" %}
{% block body %}

	<div class="row">
	  <div class="span16">
		<div class="breadcrumb">
			<span>当前位置：</span><a href="{{url_for('index')}}">首页</a><span class="divider">>></span><a href="{{url_for('cat_list_with_school',schoolname='scnu')}}">课程列表</a><span class="divider">>></span><span class="active"><a href="#">自然科学</a></span>
		</div>

	  </div>  <!-- /span16 -->


	  
	</div> <!-- /row -->


<div class="row">
          <div class="span16 ">
<div class="showInfo well">
<h3 class="headline" title="演示时的专辑" style="FONT-SIZE: 140%">课程专辑: 演示时的专辑 <span class="pub">有效</span> </h3>
<div class="clear"></div><!--.subtitle-->
<ul class="baseinfo  ">
  <li class="area"><label class="label">课程分类:</label> <a title="广州市教育视频资源平台" href="http://media.ava.com.cn/albumview_d609ac45.html#">广州市教育视频资源平台</a> </li>
  <li class="stattype"><label class="label">主讲教师:</label> <a title="广州市教育视频资源平台" href="http://media.ava.com.cn/albumview_d609ac45.html#">广州市教育视频资源平台</a> </li>

  <li class="stattype"><label class="label">标签:</label> </li></ul><!--.baseinfo-->


<div class="intro ">
<hr>
  本单元以常用机械零部件设计理论与方法为主要内容,包括讲课与课程设计,目的是通过学习这些基本内容掌握有关的机械设计步骤、方法、规律和技术措施,从而具有设计其他零部件的能力。课程主要内容包括:机械设计的基本理论(强度、摩擦学等)、连接件、传动件、转动和支承零件等。课程特色:本课程的讲授贯彻“少而精”原则;课程中引入讲课人的实际设计经验和设计范例 ..</div>
          
          </div> </div> <!-- /span16 -->
</div>
<div class="row">
          <div class="span16">
            <div class="box mbox">
<div class="head">
<div class="caption">
<h3 class="title">专辑视频 </h3></div>
<div class="extend"></div></div>
<div class="videolist videolist body ">
          
          <ul>
                      <li>
                          <div class="vediodiv">
                              <a href="{{url_for('video')}}"><img src="{{url_for('static',filename='images/tmp/poplar1.gif')}}" alt="">
                                  <span class="time">02:22</span>
                                </a>
                               <a href="#" class="updatelist"><em>更新到第6集</em></a>
                            </div>
                          <div class="clear"></div>
                          <p class="ttle"><a class="colr2" href="{{url_for('video')}}">数学文化</a></p>
              <p class="viewcounts"> 顾沛 </p>
              <p> 南开大学 </p>
                        </li>
                        <li>
                          <div class="vediodiv">
                              <a href="{{url_for('video')}}"><img src="{{url_for('static',filename='images/tmp/poplar2.gif')}}" alt="">
                                  <span class="time">02:22</span>
                                </a>
                               <a href="#" class="updatelist"><em>更新到第5集</em></a>
                            </div>
                          <div class="clear"></div>
                          <p><a class="colr2" href="{{url_for('video')}}"> 视觉文化批评 </a></p>
              <p class="viewcounts"> 冯原 </p>
              <p >中山大学</p>
                        </li>
                        <li>
                          <div class="vediodiv">
                              <a href="{{url_for('video')}}"><img src="{{url_for('static',filename='images/tmp/poplar3.gif')}}" alt="">
                                  <span class="time">02:22</span>
                                </a>
                               <a href="#" class="updatelist"><em>更新到第3集</em></a>
                            </div>
                          <div class="clear"></div>
                          <p><a class="colr2" href="{{url_for('video')}}">文化传承与建筑创新</a></p>
              <p class="viewcounts"> 何镜堂 </p>
              <p >华南理工大学<a href="#" class="undrlne"></a></p>
                        </li>
                        <li>
                          <div class="vediodiv">
                              <a href="{{url_for('video')}}"><img src="{{url_for('static',filename='images/tmp/poplar4.gif')}}" alt="">
                                  <span class="time">02:22</span>
                                </a>
                               <a href="#" class="updatelist"><em>更新到第13集</em></a>
                            </div>
                          <div class="clear"></div>
                          <p><a class="colr2" href="{{url_for('video')}}"> 走进交响音乐的世界 </a></p>
              <p class="viewcounts"> 何平 </p>
              <p > 华南理工大学 </p>
                        </li>
                        <li>
                          <div class="vediodiv">
                              <a href="{{url_for('video')}}"><img src="{{url_for('static',filename='images/tmp/poplar5.gif')}}" alt="">
                                  <span class="time">02:22</span>
                                </a>
                               <a href="#" class="updatelist"><em>更新到第4集</em></a>
                            </div>
                          <div class="clear"></div>
                          <p><a class="colr2" href="{{url_for('video')}}"> 历史与环保 </a></p>
              <p class="viewcounts"> 梅雪芹 </p>
              <p > 北京师范大学 </p>
                        </li>
                        <li>
                          <div class="vediodiv">
                              <a href="{{url_for('video')}}"><img src="{{url_for('static',filename='images/tmp/poplar6.gif')}}" alt="">
                                  <span class="time">02:22</span>
                                </a>
                               <a href="#" class="updatelist"><em>更新到第8集</em></a>
                            </div>
                          <div class="clear"></div>
                          <p><a class="colr2" href="{{url_for('video')}}"> 现代礼仪 </a></p>
              <p class="viewcounts"> 袁涤非 </p>
              <p > 湖南大学 </p>
                        </li>
          </ul>
          <div class="pagination">
            <ul>
              <li><a href="#">上一页</a></li>
              <li class="active">
                <a href="#">1</a>
              </li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">下一页</a></li>
            </ul>
          </div>
          </div><!-- .body -->


          </div> <!-- /span -->




          </div> <!-- /row -->
          
          
	</div>
	
{% endblock body %}