{% extends "school/layout.html" %}
{% block body %}

  <div class="row">
    <div class="span16">
    <div class="breadcrumb">
      <span>当前位置：</span><a href="{{url_for('index')}}">首页</a><span class="divider">>></span><a href="{{url_for('cat_list_with_school',schoolname='scnu')}}">课程列表</a><span class="divider">>></span><span class="active"><a href="#">自然科学</a></span>
    </div>

    </div>  <!-- /span16 -->


    
  </div> <!-- /row -->


<div class="row">


<div class="span4">
  <div class="well" style="padding: 8px 0;">
          <ul class="nav nav-list">
            <li class="nav-header">文章分类</li>
            <li class="active"><a href="#">日志</a></li>
            <li><a href="#">2012年</a></li>
            <li><a href="#">2010年</a></li>
            <li class="nav-header">师范生基本教学技能训练</li>
            <li><a href="#">2012年</a></li>
            <li><a href="#">2012年</a></li>
            <li class="divider"></li>
            <li><a href="#">一线优秀教师教学技能训练</a></li>
          </ul>
        </div>
</div>

          <div class="span12 ">
 
<div class="well " >
              <div class="head"><h2>系统公告</h2></div>
              <div class="body ">

                <ul class="article_list">
        <li> <a  title="系统公告，修正1023号错误" href="" class="">系统公告，修正1023号错误</a>
    <a  title="给力" href="#" class="barName"> [分类]</a> </li>
           <li> <a  title="系统公告，修正1023号错误" href="" class="">系统公告，修正1023号错误</a>
    <a  title="给力" href="#" class="barName"> [分类]</a> </li> <li> <a  title="系统公告，修正1023号错误" href="" class="">系统公告，修正1023号错误</a>
    <a  title="给力" href="#" class="barName"> [分类]</a> </li> <li> <a  title="系统公告，修正1023号错误" href="" class="">系统公告，修正1023号错误</a>
    <a  title="给力" href="#" class="barName"> [分类]</a> </li> <li> <a  title="系统公告，修正1023号错误" href="" class="">系统公告，修正1023号错误</a>
    <a  title="给力" href="#" class="barName"> [分类]</a> </li> <li> <a  title="系统公告，修正1023号错误" href="" class="">系统公告，修正1023号错误</a>
    <a  title="给力" href="#" class="barName"> [分类]</a> </li>
        </ul>




        <div class="count_wrapper">
            <div class="count_comment">
                <div id="pageCommentBar" class="qPager">
            <div class="stat">第1-<span name="span_currcommenttotal1" id="span_currcommenttotal1">30</span>/<span name="span_commenttotal1" id="span_commenttotal1">261</span>条 </div>

          
          </div>
          </div>
          <div class="pagination">
              <ul>
                <li><a href="#">上一页</a></li>
                <li class="active">
                  <a href="#">1</a>
                </li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">下一页</a></li>
              </ul>
            </div>
          </div>
              </div>
            </div>




          </div> <!-- /span16 -->

          
          
          
  </div> <!-- /row -->
  
{% endblock body %}