{% extends "school/layout.html" %}

{% block addStyle %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/themes/default/default.css')}}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style/nivo-slider.css')}}" type="text/css" media="screen" />
{% endblock %}

{% block body %}

      <div class="row">
        <div class="span10">

   <div id="wrapper">

        <div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">
                <a href="/video"><img src="{{url_for('static',filename='images/tmp/poplar1.gif')}}" data-thumb="{{url_for('static',filename='images/tmp/poplar1.gif')}}" alt="" /></a>
                <a href="/video"><img src="{{url_for('static',filename='images/tmp/poplar2.gif')}}" data-thumb="{{url_for('static',filename='images/tmp/poplar2.gif')}}" alt="" title="This is an example of a caption" /></a>

                <a href="/video"><img src="{{url_for('static',filename='images/tmp/poplar3.gif')}}" data-thumb="{{url_for('static',filename='images/tmp/poplar3.gif')}}" alt="" title="#htmlcaption" /></a>
                 <a href="/video"><img src="{{url_for('static',filename='images/tmp/poplar4.gif')}}" data-thumb="{{url_for('static',filename='images/tmp/poplar4.gif')}}" alt="" /></a>
            </div>
            <div id="htmlcaption" class="nivo-html-caption">
                <strong>这里是标题</strong><br /> 相关信息 <em>HTML</em>  <a href="#">点击浏览</a>. 
            </div>
        </div>

    </div>

         
        </div>

        <div class="span6">
            <div class="box mbox">
              <div class="head"><a href="videolist.html" class="title">系统公告</a></div>
              <div class="body ">
                <ul id="bulletin_Board">
        <li>• <a charset="106302-20648-2-1" target="_blank" title="五分钟就让你明白中国的税！太给力了吧" href="http://i.youku.com/m/35171315" class="barTopic">五分钟就让你明白中国的税！太给力了吧</a>
    [ <a charset="106302-20648-3-1" target="_blank" title="给力" href="http://kanba.youku.com/bar_bar/word_%E7%BB%99%E5%8A%9B" class="barName">直播</a> ]</li>
            <li>• <a charset="106302-20648-2-2" target="_blank" title="小沈阳和谢娜在一起真尼玛欢乐！泪飙了" href="http://i.youku.com/m/35152995" class="barTopic">小沈阳和谢娜在一起真尼玛欢乐！泪飙了</a>
    [ <a charset="106302-20648-3-2" target="_blank" title="娱乐" href="http://kanba.youku.com/bar_bar/word_%E5%A8%B1%E4%B9%90" class="barName">主题</a> ]</li>
            <li>• <a charset="106302-20648-2-3" target="_blank" title="大连美食节竟推出人体宴，在发什么疯啊" href="http://kanba.youku.com/bar/" class="barTopic">大连美食节竟推出人体宴，在发什么疯啊</a>
    [ <a charset="106302-20648-3-3" target="_blank" title="社会" href="http://kanba.youku.com/bar_bar/word_%E7%A4%BE%E4%BC%9A" class="barName">会议</a> ]</li>
            <li>• <a charset="106302-20648-2-4" target="_blank" title="林志颖史上最强回顾，险些成为泰国驸马" href="http://kanba.youku.com/bar/" class="barTopic">林志颖史上最强回顾，险些成为泰国驸马</a>
            </li><li>• <a charset="106302-20648-2-1" target="_blank" title="五分钟就让你明白中国的税！太给力了吧" href="http://i.youku.com/m/35171315" class="barTopic">五分钟就让你明白中国的税！太给力了吧</a>
    [ <a charset="106302-20648-3-1" target="_blank" title="给力" href="http://kanba.youku.com/bar_bar/word_%E7%BB%99%E5%8A%9B" class="barName">直播</a> ]</li>
            <li>• <a charset="106302-20648-2-2" target="_blank" title="小沈阳和谢娜在一起真尼玛欢乐！泪飙了" href="http://i.youku.com/m/35152995" class="barTopic">小沈阳和谢娜在一起真尼玛欢乐！泪飙了</a>
    [ <a charset="106302-20648-3-2" target="_blank" title="娱乐" href="http://kanba.youku.com/bar_bar/word_%E5%A8%B1%E4%B9%90" class="barName">主题</a> ]</li>
            <li>• <a charset="106302-20648-2-3" target="_blank" title="大连美食节竟推出人体宴，在发什么疯啊" href="http://kanba.youku.com/bar/" class="barTopic">大连美食节竟推出人体宴，在发什么疯啊</a>
    [ <a charset="106302-20648-3-4" target="_blank" title="明星" href="http://kanba.youku.com/bar_bar/word_%E6%98%8E%E6%98%9F" class="barName">会议</a> ]</li>
            <li>• <a charset="106302-20648-2-5" target="_blank" title="明星在艰辛复出过程中遭遇的坎坷！杯具" href="http://kanba.youku.com/bar_barPost/barid_D2NQMQ5hVWI=_subjectid_3132764" class="barTopic">明星在艰辛复出过程中遭遇的坎坷！杯具</a>
    [ <a charset="106302-20648-3-5" target="_blank" title="影视" href="http://kanba.youku.com/bar_bar/word_%E5%BD%B1%E8%A7%86" class="barName">专辑</a> ]</li>
        </ul>
              </div>
            </div>
          </div> <!-- /span -->



      </div>

      <div class="row">
          <div class="span10">


          <div class="box mbox "  >
            <div class="head"  >
              <div class="title ">
              <a href="videolist.html" target="_blank" class="blue">国家级公开课程</a> 
              
              
              </div>
            <div class="more">
            
            <a href="videolist.html" target="_blank">更多</a>
            </div>
            </div>
          <div class="videolist body clearfix">
          
          <ul>
                      <li>
                          <div class="vediodiv">
                              <a href="detail.html"><img src="{{url_for('static',filename='images/tmp/poplar1.gif')}}" alt="">
                                  <span class="time">02:22</span>
                                </a>
                               <a href="#" class="updatelist"><em>更新到第6集</em></a>
                            </div>
                          <div class="clear"></div>
                          <p class="ttle"><a class="colr2" href="detail.html">数学文化</a></p>
              <p class="viewcounts"> 顾沛 </p>
              <p> 南开大学 </p>
                        </li>
                        <li>
                          <div class="vediodiv">
                              <a href="detail.html"><img src="{{url_for('static',filename='images/tmp/poplar2.gif')}}" alt="">
                                  <span class="time">02:22</span>
                                </a>
                               <a href="#" class="updatelist"><em>更新到第5集</em></a>
                            </div>
                          <div class="clear"></div>
                          <p><a class="colr2" href="detail.html"> 视觉文化批评 </a></p>
              <p class="viewcounts"> 冯原 </p>
              <p >中山大学</p>
                        </li>
                        <li>
                          <div class="vediodiv">
                              <a href="detail.html"><img src="{{url_for('static',filename='images/tmp/poplar3.gif')}}" alt="">
                                  <span class="time">02:22</span>
                                </a>
                               <a href="#" class="updatelist"><em>更新到第3集</em></a>
                            </div>
                          <div class="clear"></div>
                          <p><a class="colr2" href="detail.html">文化传承与建筑创新</a></p>
              <p class="viewcounts"> 何镜堂 </p>
              <p >华南理工大学<a href="#" class="undrlne"></a></p>
                        </li>
                        <li>
                          <div class="vediodiv">
                              <a href="detail.html"><img src="{{url_for('static',filename='images/tmp/poplar4.gif')}}" alt="">
                                  <span class="time">02:22</span>
                                </a>
                               <a href="#" class="updatelist"><em>更新到第13集</em></a>
                            </div>
                          <div class="clear"></div>
                          <p><a class="colr2" href="detail.html"> 走进交响音乐的世界 </a></p>
              <p class="viewcounts"> 何平 </p>
              <p > 华南理工大学 </p>
                        </li>
                        <li>
                          <div class="vediodiv">
                              <a href="detail.html"><img src="{{url_for('static',filename='images/tmp/poplar5.gif')}}" alt="">
                                  <span class="time">02:22</span>
                                </a>
                               <a href="#" class="updatelist"><em>更新到第4集</em></a>
                            </div>
                          <div class="clear"></div>
                          <p><a class="colr2" href="detail.html"> 历史与环保 </a></p>
              <p class="viewcounts"> 梅雪芹 </p>
              <p > 北京师范大学 </p>
                        </li>
                        <li>
                          <div class="vediodiv">
                              <a href="detail.html"><img src="{{url_for('static',filename='images/tmp/poplar6.gif')}}" alt="">
                                  <span class="time">02:22</span>
                                </a>
                               <a href="#" class="updatelist"><em>更新到第8集</em></a>
                            </div>
                          <div class="clear"></div>
                          <p><a class="colr2" href="detail.html"> 现代礼仪 </a></p>
              <p class="viewcounts"> 袁涤非 </p>
              <p > 湖南大学 </p>
                        </li>
          </ul>
          
          </div>
          
          <div class="clearFloat"></div>
          </div>
          </div>  <!-- /span16 -->

          <div class="span6">
            <div class="box mbox">
              <div class="head"><a href="videolist.html" class="title">热门播放</a></div>
              <div class="body videolist block clearfix">
                <ul class="block">
                  <li>
                      <div class="thumb">
                            <a href="detail.html">
                                <img src="{{url_for('static',filename='images/tmp/featurevedio1.gif')}}" alt="" width="89" height="59">
                          <span class="updatelist"><em>更新到第5集</em></span> 
                            <span class="time">2.30</span>
                            </a>
       </div>
                       <div class="description">
                         <p><a class="colr2" href="#"> 新材料与社会进步 </a></p>
                            <p class="viewcounts"> 叶志镇,赵新兵 </p>
                            <p > 浙江大学 </p>
                       </div>
                    </li>
                    <li>
                      <div class="thumb">
                            <a href="detail.html">
                                <img src="{{url_for('static',filename='images/tmp/featurevedio2.gif')}}" alt="" width="89" height="59">
                          <span class="updatelist"><em>更新到第5集</em></span> 
                            <span class="time">2.30</span>
                            </a>
                     </div>
                       <div class="description">
                            <p><a class="colr2" href="#"> 技术光学 </a></p>
                            <p class="viewcounts"> 李林 </p>
                            <p > 北京理工大学 </p>
                       </div>
                    </li>
                    <li>
                      <div class="thumb">
                            <a href="detail.html">
                                <img src="{{url_for('static',filename='images/tmp/featurevedio3.gif')}}" alt="" width="89" height="59">
                          <span class="updatelist"><em>更新到第5集</em></span> 
                            <span class="time">2.30</span>
                            </a>
                     </div>
                       <div class="description">
                            <p><a class="colr2" href="#"> 中国古代思想智慧 </a></p>
                         <p class="viewcounts"> 郭齐勇 </p>
                            <p > 武汉大学 </p>
                       </div>
                    </li>
                    <li>
                      <div class="thumb">
                            <a href="detail.html">
                                <img src="{{url_for('static',filename='images/tmp/featurevedio4.gif')}}" alt="" width="89" height="59">
                          <span class="updatelist"><em>更新到第5集</em></span> 
                            <span class="time">2.30</span>
                            </a>
                </div>
                       <div class="description">
                            <p><a class="colr2" href="#"> 学习心理学 </a></p>
                         <p class="viewcounts"> 庞维国 </p>
                      <p > 华东师范大学 </p> 
                      </div>
                    </li>
                </ul>
              </div>
            </div>
          </div> <!-- /span -->




          </div> <!-- /row -->
          
          <div class="row">
            <div class="span10">
              <div class="box mbox ">
                <div class="head">
                  <a class="title">省级公开课程</a>
                 
                </div>
                 <div class="videolist body clearfix">
                   <ul>
                     <li>
                       <div class="vediodiv"> <a href="detail.html"><img src="{{url_for('static',filename='images/tmp/poplar1.gif')}}" alt=""> <span class="time">02:22</span> </a> <a href="#" class="updatelist"><em>更新到第6集</em></a> </div>
                       <div class="clear"></div>
                       <p class="ttle"><a class="colr2" href="detail.html">数学文化</a></p>
                       <p class="viewcounts"> 顾沛 </p>
                       <p> 南开大学 </p>
                     </li>
                     <li>
                       <div class="vediodiv"> <a href="detail.html"><img src="{{url_for('static',filename='images/tmp/poplar2.gif')}}" alt=""> <span class="time">02:22</span> </a> <a href="#" class="updatelist"><em>更新到第5集</em></a> </div>
                       <div class="clear"></div>
                       <p><a class="colr2" href="detail.html"> 视觉文化批评 </a></p>
                       <p class="viewcounts"> 冯原 </p>
                       <p >中山大学</p>
                     </li>
                     <li>
                       <div class="vediodiv"> <a href="detail.html"><img src="{{url_for('static',filename='images/tmp/poplar3.gif')}}" alt=""> <span class="time">02:22</span> </a> <a href="#" class="updatelist"><em>更新到第3集</em></a> </div>
                       <div class="clear"></div>
                       <p><a class="colr2" href="detail.html">文化传承与建筑创新</a></p>
                       <p class="viewcounts"> 何镜堂 </p>
                       <p >华南理工大学<a href="#" class="undrlne"></a></p>
                     </li>
                     <li>
                       <div class="vediodiv"> <a href="detail.html"><img src="{{url_for('static',filename='images/tmp/poplar4.gif')}}" alt=""> <span class="time">02:22</span> </a> <a href="#" class="updatelist"><em>更新到第13集</em></a> </div>
                       <div class="clear"></div>
                       <p><a class="colr2" href="detail.html"> 走进交响音乐的世界 </a></p>
                       <p class="viewcounts"> 何平 </p>
                       <p > 华南理工大学 </p>
                     </li>
                     <li>
                       <div class="vediodiv"> <a href="detail.html"><img src="{{url_for('static',filename='images/tmp/poplar5.gif')}}" alt=""> <span class="time">02:22</span> </a> <a href="#" class="updatelist"><em>更新到第4集</em></a> </div>
                       <div class="clear"></div>
                       <p><a class="colr2" href="detail.html"> 历史与环保 </a></p>
                       <p class="viewcounts"> 梅雪芹 </p>
                       <p > 北京师范大学 </p>
                     </li>
                     <li>
                       <div class="vediodiv"> <a href="detail.html"><img src="{{url_for('static',filename='images/tmp/poplar6.gif')}}" alt=""> <span class="time">02:22</span> </a> <a href="#" class="updatelist"><em>更新到第8集</em></a> </div>
                       <div class="clear"></div>
                       <p><a class="colr2" href="detail.html"> 现代礼仪 </a></p>
                       <p class="viewcounts"> 袁涤非 </p>
                       <p > 湖南大学 </p>
                     </li>
                   </ul>
                 </div>
              </div>

            </div>
             <div class="span6">
               <div class="box mbox">
                 <div class="head"><a href="#" class="title">名师风采</a></div>
                 <div class="body videolist block clearfix">
                   <ul class="block">
                     <li>
                       <div class="thumb"> <a href="detail.html"> <img src="{{url_for('static',filename='images/tmp/featurevedio1.gif')}}" alt="" width="89" height="59"> <span class="updatelist"><em>更新到第5集</em></span> <span class="time">2.30</span> </a> </div>
                       <div class="description">
                         <p><a class="colr2" href="#"> 新材料与社会进步 </a></p>
                         <p class="viewcounts"> 叶志镇,赵新兵 </p>
                         <p > 浙江大学 </p>
                       </div>
                     </li>
                     <li>
                       <div class="thumb"> <a href="detail.html"> <img src="{{url_for('static',filename='images/tmp/featurevedio2.gif')}}" alt="" width="89" height="59"> <span class="updatelist"><em>更新到第5集</em></span> <span class="time">2.30</span> </a> </div>
                       <div class="description">
                         <p><a class="colr2" href="#"> 技术光学 </a></p>
                         <p class="viewcounts"> 李林 </p>
                         <p > 北京理工大学 </p>
                       </div>
                     </li>
                     <li>
                       <div class="thumb"> <a href="detail.html"> <img src="{{url_for('static',filename='images/tmp/featurevedio3.gif')}}" alt="" width="89" height="59"> <span class="updatelist"><em>更新到第5集</em></span> <span class="time">2.30</span> </a> </div>
                       <div class="description">
                         <p><a class="colr2" href="#"> 中国古代思想智慧 </a></p>
                         <p class="viewcounts"> 郭齐勇 </p>
                         <p > 武汉大学 </p>
                       </div>
                     </li>
                     <li>
                       <div class="thumb"> <a href="detail.html"> <img src="{{url_for('static',filename='images/tmp/featurevedio4.gif')}}" alt="" width="89" height="59"> <span class="updatelist"><em>更新到第5集</em></span> <span class="time">2.30</span> </a> </div>
                       <div class="description">
                         <p><a class="colr2" href="#"> 学习心理学 </a></p>
                         <p class="viewcounts"> 庞维国 </p>
                         <p > 华东师范大学 </p>
                       </div>
                     </li>
                   </ul>
                 </div>
               </div>
             </div>
	</div>
	</div>
{% endblock %}

{% block addScripts %}
    
    <script type="text/javascript" src="{{js_url('jquery.nivo.slider.pack.js')}}"></script>
   
    <script src="{{ js_url('libs/bootstrap-dropdown.js' )}}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ js_url('libs/bootstrap-collapse.js' )}}" type="text/javascript" charset="utf-8"></script>
{% endblock %}