
<!Doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{ title }}</title>
  <meta content="zh-CN" http-equiv="Content-Language">
  <meta content="{{ title }}" name="title">
  <meta content="{{ keywords }}" name="keywords">
  <meta content="{{ description }}" name="description">
  <meta name="viewport" content="width=device-width">

  <link rel=”apple-touch-icon” href=”iphon_tetris_icon.png”/> 

<meta name=”apple-mobile-web-app-capable” content=”yes” /> 

<meta name=”apple-mobile-web-app-status-bar-style” content=”black” />
<link rel=”apple-touch-startup-image” href=”startup.png” />

<!--  Use less.js or not  -->

<link rel=stylesheet type=text/less href="{{ url_for('static', filename='less/school.less') }}"> 
<script type="text/javascript" src="{{ url_for('static', filename='js/less-1.3.0.min.js') }}" charset="utf-8">   </script> 

<!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style/school.css') }}">  -->

{% block addStyle %}

{% endblock %}


<script>
(function(doc){
    var addEvent = 'addEventListener',
        type = 'gesturestart',
        qsa = 'querySelectorAll',
        scales = [1,1];
     var meta = (qsa in doc) ? doc[qsa]('meta[name=viewport]') : [];

    function fix(){
        meta.content = 'width=device-width,minimum-scale=' +
                    scales[0]+',maximum-scale='+scales[1];
        doc.removeEventListener(type,fix,true);
    }
    if((meta = meta[meta.length -1])&& addEvent in doc){
        fix();
        scales =[.25,1.6];
        doc[addEvent](type,fix,true);
    }
}(document))

</script>

</head>



<body  >

<!--[if lt IE 7]><p class=chromeframe>抱歉，您的浏览器 ie6.0版本 <em>太旧了!</em> 为了满足日后移动版的应用需求，<a href="http://browsehappy.com/">请点击这里，更新您的浏览器</a> 或者 <a href="http://www.google.com/chromeframe/?redirect=true">选择安装  Internet Explorer的Google Chrome 插件 </a> 浏览本站。</p><![endif]-->

{% include "school/header.html" %}


<div role="main" class="content" >
  <div class="container">
 {% for message in get_flashed_messages() %}
   <div class=flash>{{ message }}</div>
 {% endfor %}

 {% block body %}
 {% endblock %}
 
  </div>
</div>


{% include "school/footer.html" %}






  <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>\
 -->
  <!-- <script>window.jQuery || document.write('<script src="{{ js_url('jquery-1.7.1.min.js')}}"><\\/script>')</script>\
 -->





<script src="{{ js_url('jquery-1.7.1.min.js')}}" type="text/javascript" charset="utf-8"></script>

<script src="{{ js_url('html5fix/modernizr-2.5.3.min.js')}}" type="text/javascript" charset="utf-8"></script>


  {% block addScripts %}




     <!-- poster -->


    <script language="javascript" type="text/javascript" src="{{js_url('fx.js')}}"></script>


  <!-- bootstrap library -->
  <script src="{{ js_url('bootstrap/bootstrap-dropdown.js' )}}" type="text/javascript" charset="utf-8"></script>
  <script src="{{ js_url('bootstrap/bootstrap-collapse.js' )}}" type="text/javascript" charset="utf-8"></script>
  <script src="{{ js_url('bootstrap/bootstrap-transition.js' )}}" type="text/javascript" charset="utf-8"></script>
  <script src="{{ js_url('bootstrap/bootstrap-tabs.js' )}}" type="text/javascript" charset="utf-8"></script>
  <script src="{{ js_url('bootstrap/bootstrap-carousel.js' )}}" type="text/javascript" charset="utf-8"></script>

  






    <!-- jquery ui -->
    <script type="text/javascript" SRC="{{ js_url('jquery/jquery.ui.core.min.js')}}"></script>
    <script type="text/javascript" SRC="{{ js_url('jquery/jquery.ui.widget.min.js')}}"></script>
 
    <!-- jQuery tooltips -->
    <script type="text/javascript" SRC="{{ js_url('jquery/jquery.tipTip.min.js')}}"></script>
    <!-- Superfish navigation -->
    <script type="text/javascript" SRC="{{ js_url('jquery/jquery.superfish.min.js')}}"></script>
    <script type="text/javascript" SRC="{{ js_url('jquery/jquery.supersubs.min.js')}}"></script>
    <!-- jQuery form validation -->
    <script type="text/javascript" SRC="{{ js_url('jquery/jquery.validate_pack.js')}}"></script>
    <!-- jQuery popup box -->
    <script type="text/javascript" SRC="{{ js_url('jquery/jquery.nyroModal.pack.js')}}"></script>
    <!-- jQuery graph plugins -->
    <!--[if IE]><script type="text/javascript" SRC="{{ js_url('jquery/flot/excanvas.min.js')}}"></script><![endif]-->
    <script type="text/javascript" SRC="{{ js_url('jquery/flot/jquery.flot.min.js')}}"></script>
    <script type="text/javascript" src="{{ js_url('jquery/flot/jquery.flot.selection.min.js')}}"></script>


    <script type="text/javascript" SRC="{{ js_url('jquery/jquery.validate_pack.js')}}"></script>
    <script type="text/javascript" SRC="{{ js_url('jquery/jquery.wysiwyg.min.js')}}"></script>

    <!-- jQuery tag input -->
    <script type="text/javascript" SRC="{{ js_url('jquery/jquery.tagInput.min.js')}}"></script>

    <script type="text/javascript" src="{{ js_url('jquery/jquery.sparkline.min.js')}}"></script>






    <script src="{{ js_url('script.js' )}}"></script>

    <script type="text/javascript" SRC="{{ js_url('jquery/jquery.tipTip.min.js')}}"></script>
    
    {% endblock %}

    <!-- jQuery tooltips -->

    <!-- lim.it -->
    <script type="text/javascript" SRC="{{ js_url('lim.it.js')}}"></script>
  <script src="{{ js_url('plugins.js' )}}"></script>


<!-- google-analytics -->
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>

<!-- JiaThis Button BEGIN -->
<script type="text/javascript">var jiathis_config = {data_track_clickback:true};</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_r.js?move=0&amp;uid=1343125756318231" charset="utf-8"></script>
<!-- JiaThis Button END -->

</body></html>