{% extends "school/layout.html" %}
{% block body %}
      <div class="row">
        <div class="span16">
          <div class="breadcrumb"><span>当前位置：</span><a href="#">首页</a><span class="divider">>></span>课程列表<span class="divider">>></span><span class="active"><a href="#" id="">自然科学</a></span></div>
        </div>
      </div>
      <div class="row">

        <div class="span4">
          
        <div class="well" >
          
<ul class="nav nav-list">
  <li class="nav-header">个人空间</li>
  <li class=" active"><a title="我的首页" href="#">我的首页</a> </li>
  <li><a class=""  href="#" data-toggle="collapse" data-target="#collapse-video">我的视频<b class="caret"></b></a> 
  <ul id="collapse-video" class="nav nav-list ">
    <li><a title="我上传的" href="#">我上传的</a> 
    </li></ul></li>
  <li class="">
    <a title="我的专辑" href="#">我的专辑</a> 
  </li>
  <li class=" ">
   <a href="#" class="" data-toggle="collapse" data-target="#collapse-theme"> 我的主题<b class="caret"></b></a>
    <ul  class="nav nav-list in" id="collapse-theme">
      <li><a title="我发布的" href="#">我发布的</a> 
      </li>
      <li class="current"><a title="我参与的" href="#">我参与的</a> 
      </li>
    </ul>
  </li>
  <li><a class=""  href="#" data-toggle="collapse" data-target="#collapse-live">我的直播<b class="caret"></b></a> 
  <ul id="collapse-live" class="nav nav-list collapse">
    <li><a title="申请直播" href="#">申请直播</a> </li>
    <li><a title="我的直播" href="#">我的直播</a> </li>
    <li><a title="我的录像" href="#">我的录像</a> </li>
  </ul>
</li>
  <li><a class=""  href="#" data-toggle="collapse" data-target="#collapse-info">个人信息管理<b class="caret"></b></a> 
  <ul id="collapse-info" class="nav nav-list collapse">
    <li><a title="个人信息" href="#">个人信息</a> 
    </li>
    <li><a title="修改密码" href="#">修改密码</a> 
    </li></ul></li>
  <li><a class=""  href="#" data-toggle="collapse" data-target="#collapse-setting">视频空间管理<b class="caret"></b> </a>

  <ul id="collapse-setting" class="nav nav-list collapse">
    <li><a title="模块设置" href="#">模块设置</a> 
    </li></ul></li></ul>


        </div>


        </div>

    <div class="span12">


      <div class="well">


<div class="alert alert-block">
  <a class="close" data-dismiss="alert" href="#" style="display:none">×</a>
  <h4 class="alert-heading">网站公告</h4>
  <a title="热烈庆祝AVA教育视频资源平台上线" href="http://media.ava1.com.cn/notice_2592a7ce9c2c424f835186c417862344.html">热烈庆祝AVA教育视频资源平台上线</a> 
</div>

        
<div class="p_title mod"><span class="f_14 bold">欢迎， <a title="越秀区优质视频资源共享平台 lvjinquan" href="http://media.ava1.com.cn/show/GD_admin.html">越秀区优质视频资源共享平台 lvjinquan</a> ！ 
</span>你上传的视频共计播放了<span class="bold">0</span>次 &nbsp;&nbsp; </div>






<hr>
<div class="myIndexMain span6">
<div class="aboutMe">
<h3 class="title">关于我</h3>
<div class="items">
<div class="avatar"><span class="label">头像:</span><a title="修改头像" href="http://media.ava1.com.cn/my/basic.html">修改头像</a> <img title="lvjinquan的头像" src="http://placehold.it/180x180" alt="">  </div>
<div class="signature"><span class="label">个性签名:</span> t4wwwwwww <a title="修改" href="http://media.ava1.com.cn/my/basic.html">修改</a> </div>
<div class="remail"><span class="label">注册邮箱:</span> 13631378419@139.com </div>
<div class="password"><span class="label">登录密码:</span> <a title="修改" href="http://media.ava1.com.cn/my/password.html">修改</a> </div>
<div><span class="label">用户类型:</span> 名师 </div>
<div><span class="label">视频权限:</span> 需审核 </div>
<div><span class="label">专辑权限:</span> 需审核 </div>
<div><span class="label">会议权限:</span> 未启用 </div>
<div><span class="label">主题权限:</span> 需审核 </div>
<div class="password"><span class="label">直播权限:</span> 需审核 </div></div></div>

<div class="space">
  <h3 class="title">我的空间</h3>
  <div class="tool"><a title="模块设置" href="http://media.ava1.com.cn/my/typeshow.html">模块设置</a> 
  </div></div>



</div>

<div class="span4">
  
  <div class="mods">
  <div class="mod">
  
  <div class="con">
  <h3 class="title">我的视频</h3>
  <div class="view"><a title="全部视频" href="http://media.ava1.com.cn/my/video_1.html">全部视频</a> </div>
  <ul class="index">
    <li>最新上传： 还没有上传视频 <span class="lead"><a title="现在就上传" href="http://media.ava1.com.cn/my/videoupload.html" class="btn">现在就上传</a> </span></li></ul>
  <h3 class="title">我的专辑</h3>
  <div class="view"><a title="全部专辑" href="http://media.ava1.com.cn/my/album_1.html">全部专辑</a> </div>
  <ul class="index">
    <li>最新创建： 还没有创建专辑 <span class="lead"><a title="现在就创建" href="http://media.ava1.com.cn/my/albumadd.html" class="btn">现在就创建</a> </span></li></ul>
  <h3 class="title">我的会议</h3>
  <div class="view"><a title="全部会议" href="http://media.ava1.com.cn/my/meeting_1.html">全部会议</a> </div>
  <ul class="index">
    <li>最新创建： 还没有创建会议 <span class="lead"><a title="现在就创建" href="http://media.ava1.com.cn/my/meetingedit.html" class="btn">现在就创建</a> </span></li></ul>
  <h3 class="title">我的主题</h3>
  <div class="view"><a title="全部主题" href="http://media.ava1.com.cn/my/subject_1.html">全部主题</a> </div>
  <ul class="index">
    <li>最新创建： 还没有创建主题 <span class="lead"><a title="现在就创建" href="http://media.ava1.com.cn/my/subjectedit.html" class="btn">现在就创建</a> </span></li></ul>
  <h3 class="title">我的直播</h3>
  <div class="view"><a title="全部直播" href="http://media.ava1.com.cn/my/application_1.html">全部直播</a> </div>
  <ul class="index">
    <li>最新创建： 还没有申请直播 <span class="lead"><a title="现在就申请" href="http://media.ava1.com.cn/my/applicationadd.html" class="btn">现在就申请</a> 
  </span></li></ul></div></div></div><!--mods end--></div>


  <!--span4 end-->




</div>



      
    </div>


      </div>

{% endblock %}


{% block addScripts %}

<script src="{{ js_url('libs/jquery.ui.core.min.js' )}}" type="text/javascript" charset="utf-8"></script>

<script src="{{ js_url('libs/jquery.ui.widget.min.js' )}}" type="text/javascript" charset="utf-8"></script>

<script src="{{ js_url('libs/jquery.ui.datepicker.js' )}}" type="text/javascript" charset="utf-8"></script>

<script src="{{ js_url('libs/bootstrap-alert.js' )}}" type="text/javascript" charset="utf-8"></script>

<script src="{{ js_url('libs/DateTimePicker.js' )}}" type="text/javascript" charset="utf-8"></script>




{% endblock %}