{% extends "school/layout.html" %}
{% block body %}
      <div class="row">
        <div class="span16">
          <div class="breadcrumb"><span>当前位置：</span><a href="#">首页</a><span class="divider">>></span>课程列表<span class="divider">>></span><span class="active"><a href="#" id="">自然科学</a></span></div>
        </div>
      </div>
      <div class="row">

        <div class="span4">
          
        <div class="well" >
          
<ul class="nav nav-list">
  <li class="nav-header">个人空间</li>
  <li class=" "><a title="登录" href="#">登录</a> </li>
  <li class=" active">
    <a title="注册" href="#">注册</a> 
  </li>
  <li class="">
    <a title="忘记密码" href="#">忘记密码</a> 
  </li>
  </ul>


        </div>


        </div>

    <div class="span12">


      <div class="well">


      <div class="alert alert-block">
        <a class="close" data-dismiss="alert" href="#" style="display:none">×</a>
        <h4 class="alert-heading">提示</h4>
        轻松注册，10秒搞定！请填写以下信息，全部为必填<br/>
        用户名注册后不能修改，请仔细核对。
      </div>


<FORM id=frmSignup onsubmit="return false;" method=post action="">
<DIV class="forms">
<DIV class="items">
<DIV class="item"><LABEL class=lbl>用户类型：</LABEL> <SELECT  class=txt name=UserTypeGuid><OPTION selected value=89338cfdb7d741c9b117a6c4718b57ea realvalue="89338cfdb7d741c9b117a6c4718b57ea">名师</OPTION><OPTION value=28ec3ab1fb684ced8b182b5d5fa3971c realvalue="28ec3ab1fb684ced8b182b5d5fa3971c">普通会员</OPTION></SELECT> </DIV>
<DIV class="item"><LABEL class=lbl>用户名：</LABEL> <INPUT class=txt maxLength=12 type=text name=UserName> <LABEL style="LEFT: 270px" lang=tip for=UserName></LABEL></DIV>
<DIV class="item"><LABEL class=lbl>密码：</LABEL> <INPUT class=txt value="" maxLength=30 type=password name=Password> <LABEL style="LEFT: 270px" lang=tip for=Password></LABEL></DIV>
<DIV class="item"><LABEL class=lbl>确认密码：</LABEL> <INPUT class=txt value="" maxLength=30 type=password name=PasswordConfirm> <LABEL style="LEFT: 270px" lang=tip for=PasswordConfirm></LABEL></DIV>
<DIV class="item"><LABEL class=lbl>真实名称：</LABEL> <INPUT class=txt maxLength=20 type=text name=TrueName> <LABEL style="LEFT: 270px" lang=tip for=TrueName></LABEL></DIV>
<DIV class="item"><LABEL class=lbl>手机号：</LABEL> <INPUT class=txt maxLength=20 type=text name=MobilePhone> <LABEL style="LEFT: 270px" lang=tip for=MobilePhone></LABEL></DIV>
<DIV class="item"><LABEL class=lbl>验证码：</LABEL> <INPUT class=txt maxLength=4 type=text name=CheckCode> <LABEL style="LEFT: 270px" lang=tip for=CheckCode></LABEL></DIV>
<DIV class="item indent">
<DIV class=regcode><IMG id=checkCodeIMG title=点击更换验证码 onclick=changeCheckCode(); src="http://media.ava1.com.cn/"> 看不清，<A onclick="changeCheckCode();return false;" href="http://media.ava1.com.cn/signup.html#">换一个</A></DIV>
<SCRIPT type=text/javascript>
        changeCheckCode();
        function changeCheckCode() {
          document.getElementById("checkCodeIMG").src = "checkcode.aspx?rnd=" + Math.random();
        }
      </SCRIPT>
</DIV>
<DIV class="item indent"><INPUT class=chk value=1 CHECKED type=checkbox name=Agree unvalue="0"> 我已阅读并接受 <A title=注册协议 href="http://media.ava1.com.cn/service/agreement.html" target=_blank>注册协议</A> 和 <A title=版权声明 href="http://media.ava1.com.cn/service/copyright.html" target=_blank>版权声明</A> </DIV>



<DIV class="item indent"><INPUT onclick=SignupClient(this); value="注 册" type=submit validatorgroup="Signup" class="btn "></DIV>
</DIV></DIV></FORM>
<SCRIPT type=text/javascript>
  //验证控件
  $.validator.initConfig({ validatorGroup: "Signup", form: "#frmSignup", alertMessage: true, showMessage: false });
  //用户名
  $("#frmSignup [name=UserName]").formValidator({
    validatorGroup: "Signup",
    rules:
    {
      required: null,
      regex: "^[A-Za-z0-9]{4,12}$"
    },
    message:
    {
      required: "请输入用户名",
      regex: "用户名为字母和数字组成的4到12个字符"
    }
  });
  //用户密码
  $("#frmSignup [name=Password]").formValidator({
    validatorGroup: "Signup",
    rules:
    {
      required: null,
      regex: "^\\w{4,16}$"
    },
    message:
    {
      required: "请输入用户密码",
      regex: "密码由4到16个字符组成"
    }
  });
  $("#frmSignup [name=PasswordConfirm]").formValidator({
    validatorGroup: "Signup",
    wideWord: true,
    rules:
    {
      required: null,
      equalTo: "#frmSignup [name=Password]"
    },
    message:
    {
      required: "请输入确认密码",
      equalTo: "两次输入密码不相符"
    }
  });
  $("#frmSignup [name=TrueName]").formValidator({
    validatorGroup: "Signup",
    rules:
    {
      required: null
    },
    message:
    {
      required: "请输入真实名称"
    }
  });
  $("#frmSignup [name=MobilePhone]").formValidator({
    validatorGroup: "Signup",
    rules:
    {
      required: null
    },
    message:
    {
      required: "请输入手机号码"
    }
  });
  $("#frmSignup [name=CheckCode]").formValidator({
    validatorGroup: "Signup",
    rules:
    {
      required: null
    },
    message:
    {
      required: "请输入验证码"
    }
  });
  $("#frmSignup [name=Agree]").formValidator({
    validatorGroup: "Signup",
    rules:
    {
      min: 1
    },
    message:
    {
      min: "必须接受注册协议和版权说明才能注册"
    }
  });
</SCRIPT>

<SCRIPT type=text/javascript>
  function SignupClient(send) {
    $.ajax(
    {
      cache: false,
      type: "POST",
      url: Global.Site + "/Ajax.aspx?AVA.ResourcesPlatform.Ajax.ClientAjax.Signup",
      data: Global.GetFormValue($("#frmSignup")),
      async: true,
      dataType: 'json',
      success: function (result) {
        $(send).val("注册成功,正在跳转到个人页面");
        //Global.Disabled(send, false);
        if (result != null && typeof (result.Message) != "undefined") {
          //要验证
          alert(result.Message);
        }
        else {
          window.location.href = result;          
        }
      },
      beforeSend: function () {
        $(send).val("提交注册...");
        Global.Disabled(send, true);
      },
      complete: function () {
      },
      error: function (XMLHttpRequest, textStatus, errorThrown) {
        $(send).val("注 册");
        Global.Disabled(send, false);
        var message = XMLHttpRequest.responseText;
        Global.Error(message);
      }
    });
  }
</SCRIPT>
<!--reg end-->

<SCRIPT type=text/javascript>
  //验证控件
  $.validator.initConfig({ validatorGroup: "Login", form: "#frmLogin", alertMessage: true, showMessage: false });
  //用户名
  $("#frmLogin [name=UserName]").formValidator({
    validatorGroup: "Login",
    rules:
    {
      required: null
    },
    message:
    {
      required: "请输入用户名"
    }
  });
  //用户密码
  $("#frmLogin [name=Password]").formValidator({
    validatorGroup: "Login",
    rules:
    {
      required: null
    },
    message:
    {
      required: "请输入用户密码"
    }
  });

</SCRIPT>

<SCRIPT type=text/javascript>
  function LoginClient(send) {
    $.ajax(
    {
      cache: false,
      type: "POST",
      url: Global.Site + "/Ajax.aspx?AVA.ResourcesPlatform.Ajax.ClientAjax.Login",
      data: Global.GetFormValue($("#frmLogin")),
      async: true,
      dataType: 'json',
      success: function (result) {
        $(send).val("登录成功");
        window.location.href = result;
        Global.Disabled(send, false);
      },
      beforeSend: function () {
        $(send).val("验证用户...");
        Global.Disabled(send, true);
      },
      complete: function () {
      },
      error: function (XMLHttpRequest, textStatus, errorThrown) {
        $(send).val("登录");
        Global.Disabled(send, false);
        var message = XMLHttpRequest.responseText;
        Global.Error(message);
      }
    });
  }



  function clearCookie() {
    var keys = document.cookie.match(/[^ =;]+(?=\=)/g);
    if (keys) {
      for (var i = keys.length; i--; )
        document.cookie = keys[i] + '=0;expires=' + new Date(0).toUTCString()
    }
  }
  clearCookie();
</SCRIPT>
<!--log end-->
<DIV class=clear></DIV>







        <!--span4 end-->




</div><!--well end-->



      
    </div>


      </div>

{% endblock %}


{% block addScripts %}

<script src="{{ js_url('libs/jquery.ui.core.min.js' )}}" type="text/javascript" charset="utf-8"></script>

<script src="{{ js_url('libs/jquery.ui.widget.min.js' )}}" type="text/javascript" charset="utf-8"></script>

<script src="{{ js_url('libs/jquery.ui.datepicker.js' )}}" type="text/javascript" charset="utf-8"></script>

<script src="{{ js_url('libs/bootstrap-alert.js' )}}" type="text/javascript" charset="utf-8"></script>

<script src="{{ js_url('libs/DateTimePicker.js' )}}" type="text/javascript" charset="utf-8"></script>




{% endblock %}