{% extends "school/layout.html" %}
{% block body %}
      <div class="row">
        <div class="span16">
          <div class="breadcrumb"><span>当前位置：</span><a href="index.html">首页</a><span class="divider">>></span>课程列表<span class="divider">>></span><span class="active"><a href="#" id="">自然科学</a></span></div>
        </div>
      </div>
      <div class="row">

        <div class="span12">
          
            <div class="mediaPlayerWrap">
              <div id="mediaPlayer"> </div>
            </div>


<!--         <div class="toggleWarp">
        <a href="#" class="ToggleBtn">隐藏/显示侧栏</a>
      </div> -->
     
      <hr>
 

    </div>

    <div class="span4">
      <div class="toggle">
      <div class="box mbox">
            <div class="head">
                   <div class="catalog">
                                            <ul class="tabs">
                                            <li tabidx="rkLst4" id="thrkLst4" class="active"><a href="#cont">课程简介</a></li>
                                            <li tabidx="rkLst5" id="thrkLst5" ><a href="#cont2">本单元简介</a></li>
                                            
                                            
                                            </ul></div>


            </div>
            <!--head end-->
            <div class="body tabwrap" id="slide-con1">
 <div class="staff">
                <!--列表模式-->
                <ul>
                  <li>主讲教师：<a href="#"><span>吴宗泽</span></a></li>
                  <li>本讲教师：<a href="#"><span>吴宗泽</span></a></li>
                  <li>课程学校<a href="#"><span>：清华大学</span></a></li>
                  <li>所属学科：<a href="#"><span>工程与科学技术</span></a></li>
                </ul>
  </div>

<div class="pill-content info-span">
      <div id="cont" data-pills="thrkLst1" class="active">
<div class="pill-body textlist">        

              <div class="staff">
                <div class="clear">
                </div>
                <p>机械设计课程为大学本科机械类必修的技术基础课程。1995年修订了“机械设计课程教学基本要求”。该课程以常用机械零部件设计理论与方法为主要内容,包括讲课与课程设计,目的是通过学习这些基本内容掌握有关的机械设计步骤、方法、规律和技术措施,从而具有设计其他零部件的能力。课程主要内容包括:机械设计的基本理论(强度、摩擦学等)、连接件、传动件、转动和支承零件等。课程特色:本课程的讲授贯彻“少而精”原则;课程中引入讲课人的实际设计经验和设计范例 ...</p>
                
                </div>
            
</div>
                
    </div>  




<div id="cont2" data-pills="thrkLst2" class="">
       <div class="pill-body"> 
          
              <div class="staff">
                <!--列表模式-->
               
            
                <p>本单元以常用机械零部件设计理论与方法为主要内容,包括讲课与课程设计,目的是通过学习这些基本内容掌握有关的机械设计步骤、方法、规律和技术措施,从而具有设计其他零部件的能力。课程主要内容包括:机械设计的基本理论(强度、摩擦学等)、连接件、传动件、转动和支承零件等。课程特色:本课程的讲授贯彻“少而精”原则;课程中引入讲课人的实际设计经验和设计范例 ...</p>
                
                </div>
              </div>
  </div>








</div>









            </div>
            <!--body end-->

          </div>
      
      <div id="VideoTimeInfo_wrap">
        <div>
          <div class="box mbox">
            <div class="head">
              <div class="caption">
                <div class="title">
                  当前视频时间点</div>
              </div>
              <div class="extend">
              </div>
            </div>
            <!--head end-->
            <div class="body">
              <div class="staff">
                <!--列表模式-->
                <p id="currentItem"></p>

                <ul id="chapterlist"></ul>
                
                <div class="clear">
                </div>
              </div>
            </div>
            <!--body end-->
          </div>
        </div>
      </div>

      <div class="box mbox">
            <div class="head">

                <div class="title">
                  知识点列表</div>


            </div>
            <!--head end-->
            <div class="body clearfix napkee">



<div id="nap37_1" class="napkeeComponent napkeeTree">
  <ul id="nap37_1browser" class="filetree treeview-famfamfam treeview">
    <li id="nap37_1i0" class="closed collapsable"><div class="hitarea closed-hitarea collapsable-hitarea"></div><span class="hand folder">第一大知识点</span><ul style="display: block; "><li id="nap37_1i1" class="collapsable lastCollapsable"><div class="hitarea collapsable-hitarea lastCollapsable-hitarea"></div><span class="hand folder">第一小点</span><ul style="display: none; ">
      <li>
        知识点描述
      </li>
       <li>
        相关知识
      </li>


    </ul></li></ul></li><li id="nap37_1i2" class="expandable lastExpandable"><div class="hitarea expandable-hitarea lastExpandable-hitarea"></div><span class="hand folder">第二大知识点</span><ul style="display: none; ">
      <li>
        知识点描述
      </li>
       <li>
        相关知识
      </li>

    </ul></li>
  </ul>
</div>
            </div>
            <!--body end-->
          </div>

            

      
    </div>
      
      <div id="VideoAttachment_wrap">
        <div>
          <div class="box mbox">
            <div class="head">
              <div class="caption">
                <div class="title ">
                  <a href="#slide-con2" class="slideDown">附件</a></div>
              </div>
              <div class="extend">
              </div>
            </div>
            <!--head end-->
            <div class="body napkee" id="slide-con2">
             <div id="nap38" class="napkeeComponent napkeeTree">
  <ul id="nap38_browser" class="filetree  treeview">
    <li id="nap37_1i0" class="closed collapsable"><div class="hitarea closed-hitarea collapsable-hitarea"></div><span class="hand folder">演示文档一</span><ul style="display: block; "><li id="nap37_1i1" class="collapsable lastCollapsable"><div class="hitarea collapsable-hitarea lastCollapsable-hitarea"></div><span class="hand file">附件 xxx.doc    </span><ul style="display: none; "></ul></li></ul></li><li id="nap37_1i2" class="expandable lastExpandable"><div class="hitarea expandable-hitarea lastExpandable-hitarea"></div><span class="hand folder">附件二</span><ul style="display: none; "></ul></li>
  </ul>
</div>
            </div>
            <!--body end-->

          </div>
        </div>
      </div>


      </div>

{% endblock %}