<!-- Page footer -->
	
	
	<!-- Animated footer -->
	<footer id="animated">
		        <p class="pull-right"><a id="totop" style="display: block; ">^ 滚动到头部</a></p>
		<ul>
			<li><a href="#">Dashboard</a></li>
			<li><a href="#">Content</a></li>
			<li><a href="#">Reports</a></li>
			<li><a href="#">Users</a></li>
			<li><a href="#">Media</a></li>
			<li><a href="#">Events</a></li>
			<li><a href="#">Newsletter</a></li>
			<li><a href="#">Settings</a></li>
		</ul>
	</footer>
	<!-- End of Animated footer -->