

#header, header #header{
  margin:0;
  background:#eef5ff;
  #gradient > .vertical(#cae1f3, #eef5ff);
  .banner{
      background:url(/static/style/img/banner.png) right top no-repeat;
      height:100px;
      #user-center{
        margin-top:50px;
        background:@white;
        .opacity(50);
        li{
          float:left;
          padding:3px 5px;
        }
      }
  }
  #title{

  }
  #logo{
    background: url(/static/images/scnu.gif) no-repeat;
    text-indent:-9000px;
    float:left;
    margin:20px;
  }
  
  #searchbar{
    float:right;
    margin:20px 10px;
  }
}

  // .border-radius(4px);
  // @shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
  // .box-shadow(@shadow);

.content{
    min-height:400px;
    background:#cae1f3;
   #gradient > .vertical(#eef5ff,#cae1f3);

  min-height:400px;

}

.header #u-center{
  float:right;
  font-size:12px;
}

.header #searchbar{
  float:right;
  margin:20px 10px;
}





footer{
  height:30px;
}


footer#animated {
  background:#222;
  bottom:0;
  padding:10px 0 8px;
  position:fixed;
  width:100%;
  opacity:0;
  -khtml-opacity: 0;
  -moz-opacity: 0;
}
footer#animated ul {
  list-style:none outside none;
  margin:0 auto;
  text-align:center;
}
footer#animated ul li {
  color:#fff;
  display:inline;
  padding:0 10px;
  text-shadow:1px 1px 3px #000;
}
footer#animated a {
  color:#aaa;
  text-decoration:none;
}
footer#animated a:hover, footer#animated a:focus, footer#animated a:active {
  color:#fff;
  text-decoration:none;
}
.Copyright{
  text-align:center;
  height:20px;
}




/* 
 *  for swfobject
 */

.mediaPlayerWrap{
  margin-top: 10px;
}
