@charset "utf-8";
.posterOnePic2{-moz-user-select:none;-webkit-user-select:none;z-index:0;position:relative;width: 580px;height:210px;overflow:hidden;}
.posterOnePic2 .items{position:absolute;top:0px;left:0;width: 580px;height:210px;}
.posterOnePic2 .item{position:absolute;top:0;left:0;padding-left:0;width: 580px;height:210px;}
.posterOnePic2 .item ul{position:relative;width:570px;height:210px;overflow:hidden;zoom:1;background:#888;}
.posterOnePic2 .item_img{position:absolute;top:0;left:0;width:580px;height:210px;overflow:hidden;background:url() no-repeat center center;}
.posterOnePic2 .item_img img{display:block;width:580px;margin-top:-10%;}
.posterOnePic2 .item_url{z-index:3;position:absolute;top:0;left:0;width:580px;height:210px;}
.posterOnePic2 .item_url a{display:block;width: 250px;height:210px;background:url();}
.posterOnePic2 .item_info{z-index:1;position:absolute;right:20px;top:0;width:160px;height:210px;}
.posterOnePic2 .item_info *{color:#fff;}
.posterOnePic2 .item_info .item_text{z-index:2;position:absolute;top:15px;left:10px;width:160px;height:260px;}
.posterOnePic2 .item_text .item_title{width:160px;height:20px;margin-bottom:20px;margin-top:60px;line-height:20px;font-weight:bold;text-align:center;overflow:hidden;font-size:18px;color:#fff;font-family:'microdoft yahei', '微软雅黑';}
.posterOnePic2 .item_text .item_intro{font-size:14px;height:100px;overflow:hidden;margin-left:20px;margin-bottom:10px; text-justify:inter-ideograph; text-align:justify;}
.posterOnePic2 .item_text .item_director,
.posterOnePic2 .item_text .item_performer,
.posterOnePic2 .item_text .item_date{height:20px;overflow:hidden;font-family:'microdoft yahei', '微软雅黑';}
.posterOnePic2 .item_info .item_block{z-index:1;position:absolute;top:0;left:0;width:240px;height:210px;background:#000 url() no-repeat 190px 230px;filter:alpha(opacity=50);opacity:0.5;}
.posterOnePic2 .item_info .item_block .item_line{position:absolute;top:45px;left:0;height:1px;width:240px;overflow:hidden;background:url() no-repeat 0 0;
}
.posterOnePic2 .item_status .status{z-index:2;position:absolute;top:24px;left:-32px;background:#f60;width:140px;*width:130px;width:130px\9;height:22px;line-height:22px;text-align:center;color:#fff;font-size:14px;letter-spacing:1px;font-weight:bold;font-family:'microdoft yahei', '微软雅黑';-moz-transform:rotate(315deg);-o-transform:rotate(315deg);-webkit-transform:rotate(315deg);transform:rotate(315deg);text-shadow:1px 1px 0 #c30;top:-16px\9;*top:-16;left:-16px\9;*left:-16px;}
.posterOnePic2 .playlight{z-index:1;display:none;position:absolute;left:190px;top:230px;width:33px;height:33px;background:url() no-repeat 0 0;
}
.posterOnePic2 .item_hover .playlight{display:block;}
.posterOnePic2 .item_hover .item_info .item_block{background-image:none;}
.posterOnePic2 .control{visiblity:hidden;position:absolute;top:160px;left:0;width: 580px;height:70px;}
.posterOnePic2 .control .thumbs{width:;position:absolute;top:0;left: 40px;width: 500px;overflow:hidden;height:70px;}
.posterOnePic2 .control .thumbs ul{width:3000px;list-style:none;}
.posterOnePic2 .control .thumbs li{float:left;width:60px;height:40px;padding:5px;cursor:pointer;}
.posterOnePic2 .control .thumbs li img{float:left;display:block;width:60px;height:40px;cursor:pointer;}
.posterOnePic2 .control .thumbs li:hover{background:#fff;}
.posterOnePic2 .control .thumbs li.current{cursor:default;background:#cdcdcd;}
.posterOnePic2 .control .thumbs li.current img{cursor:default;}
.posterOnePic2 .control .thumbs li.current:hover{background:#fff;}
.posterOnePic2 .control .btnprev{visibility:hidden;z-index:5;position:absolute;top:0;left:0;width:34px;height:70px;cursor:pointer;
}
.posterOnePic2 .control .btnnext{visibility:hidden;z-index:5;position:absolute;top:0;right:0;width:34px;height:70px;cursor:pointer;
}


.long .posterOnePic2,
.long .posterOnePic2 .items,
.long .posterOnePic2 .item_url ,
.long .posterOnePic2 .control
{width:940px;}
.long .posterOnePic2 .control .thumbs
{
	width:900px;
}
.long .posterOnePic2 .item ul{
	width:930px;
}
.long .posterOnePic2 .item_info .item_block,
.posterOnePic2 .item_info .item_block .item_line
{
	width:400px;
}
.long .posterOnePic2 .item_info,
.long .posterOnePic2 .item_info .item_text,
.long .posterOnePic2 .item_text .item_title
{
	width:330px;
}