{% block footer %}
<footer>
  <div class="FooterContainer footer ">
 
     <div class="">

      <div class="container">        
           <div class="row">
             <div class="span4 offset8">
              <h5>学科分类</h5>
               <ul class="">
           
                           <li><a href="area-videoList.html">自然科学</a></li>
                           <li><a href="area-theme.html">人文与社会科学</a></li>
                           <li><a href="area-theme.html">财经管理</a></li>
                           <li><a href="area-theme.html">医学</a></li>
                           <li><a href="area-theme.html">农学</a></li>
               <li><a href="area-inteaction.html">工程与科学技术</a></li>
               <li><a href="area-live.html">职业教育</a></li>
                         </ul>
             </div>
             
             <div class="span4">
              <h5>高校链接</h5>
               <ul class="">
                                     <li><a href="#">华南师范大学</a></li>
                                     <li><a href="#">中山大学</a></li>
                                     <li><a href="#">华南理工大学</a></li>
                                     <li><a href="#">华南农业大学</a></li>
                                     <li><a href="#">广东外语外贸大学</a></li>
                                     <li><a href="#">广东工业大学</a></li>
                                     <li><a href="#">广技师</a></li>
                              
                                   </ul>
             </div>
           </div>
           <p class="Copyright">Copyright©2011 资源平台 ava.com.cn 版权所有 京ICP证060288号</p>

    </div>


</div>

</footer>
{% endblock %}