{% extends "school/layout.html" %}
{% block body %}

	<div class="row">
	  <div class="span16">
		<div class="breadcrumb">
			<span>当前位置：</span><a href="{{url_for('index')}}">首页</a><span class="divider">>></span><a href="{{url_for('cat_list_with_school',schoolname='scnu')}}">课程列表</a><span class="divider">>></span><span class="active"><a href="#">自然科学</a></span>
		</div>

	  </div>  <!-- /span16 -->


	  
	</div> <!-- /row -->


<div class="row">


<div class="span4">
  <div class="well" style="padding: 8px 0;">
          <ul class="nav nav-list">
            <li class="nav-header">文章分类</li>
            <li class="active"><a href="#">日志</a></li>
            <li><a href="#">2012年</a></li>
            <li><a href="#">2010年</a></li>
            <li class="nav-header">师范生基本教学技能训练</li>
            <li><a href="#">2012年</a></li>
            <li><a href="#">2012年</a></li>
            <li class="divider"></li>
            <li><a href="#">一线优秀教师教学技能训练</a></li>
          </ul>
        </div>
</div>

          <div class="span12 ">
<div class="showInfo well">
<h3 class="headline" title="演示时的专辑" style="FONT-SIZE: 140%">课程专辑: 演示时的专辑 <span class="pub">有效</span> </h3>
<div class="clear"></div><!--.subtitle-->
<ul class="baseinfo  ">
  <li class="area"><label class="label">课程分类:</label> <a title="广州市教育视频资源平台" href="http://media.ava.com.cn/albumview_d609ac45.html#">广州市教育视频资源平台</a> </li>
  <li class="stattype"><label class="label">主讲教师:</label> <a title="广州市教育视频资源平台" href="http://media.ava.com.cn/albumview_d609ac45.html#">广州市教育视频资源平台</a> </li>

  <li class="stattype"><label class="label">标签:</label> </li></ul><!--.baseinfo-->


<div class="intro ">
<hr>
  本单元以常用机械零部件设计理论与方法为主要内容,包括讲课与课程设计,目的是通过学习这些基本内容掌握有关的机械设计步骤、方法、规律和技术措施,从而具有设计其他零部件的能力。课程主要内容包括:机械设计的基本理论(强度、摩擦学等)、连接件、传动件、转动和支承零件等。课程特色:本课程的讲授贯彻“少而精”原则;课程中引入讲课人的实际设计经验和设计范例 ..</div>
</div> 

<div id="commentArea" class="commentArea well">

   <div class="commentAction">
            
            <div class="commentTextArea"><textarea onkeydown="ctlentComments(event,'bt_comment');" name="content" id="content" rows="2" cols="40" class="defaultext"></textarea></div>
            <div id="toolbar" class="toolbar">
              <div class="action">              
                <button name="bt_comment" id="bt_comment" class="btn">发表评论</button>
               
              </div>
              <div class="clear"></div>
            </div>
          </div>

         
        </div>

<div id="videobodycommentlist" class="well">
          <div class="count_wrapper">
            <div class="count_comment">
              <span>视频评论<em id="allnum_cmt" class="num">(13)</em></span>
                <div id="pageCommentBar" class="qPager">
            <div class="stat">第1-<span name="span_currcommenttotal1" id="span_currcommenttotal1">30</span>/<span name="span_commenttotal1" id="span_commenttotal1">261</span>条 </div>

          
          </div>
          </div>
          <div class="pagination">
              <ul>
                <li><a href="#">上一页</a></li>
                <li class="active">
                  <a href="#">1</a>
                </li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">下一页</a></li>
              </ul>
            </div>
          </div>
 


            
      <div class="comments box">
      <div style="margin-top:3px;" id="div_new_comment"></div>
      <input type="hidden" value="http://v.t.sina.com.cn/share/share.php?appkey=2684493555&amp;title=这个视频下的评论很精彩：%E6%81%8B%E4%BA%BA%E5%95%8A2&amp;ralateUid=1642904381&amp;source=%E4%BC%98%E9%85%B7%E7%BD%91&amp;sourceUrl=http%3A%2F%2Fwww.youku.com%2F&amp;content=utf8&amp;pic=http://g1.ykimg.com/0100011F464BDCA8B4A969005E2DCCC65D461A-3427-EC32-96F0-765004F7472C&amp;url=http://v.youku.com/v_show/id_XMTg4MjU0ODg=.html" id="tran_sina">
      <input type="hidden" value="http://share.renren.com/share/buttonshare.do?title=这个视频下的评论很精彩：%E6%81%8B%E4%BA%BA%E5%95%8A2&amp;link=http://v.youku.com/v_show/id_XMTg4MjU0ODg=.html" id="tran_renren">
      <div id="comment196062434" class="comment">
      <div class="bar">
         <a name="coment_name_196062434" id="comment_name_196062434" target="_blank" charset="400-4" href="http://u.youku.com/user_show/id_UMzA3OTM4MTcy.html">yukoau</a>
      </div>
        <div class="con">
                      <div name="content_196062434" id="content_196062434" class="text">
                  <p id="content_4dc8de7ea834bfb14e4b1d76">感情でむずかしいことだよね！　えいえんの愛はないと信じています！<br> </p>
                </div>

        </div></div>
      
      
      
      <div id="comment67940452" class="comment">
      <div class="bar">
         <a name="coment_name_67940452" id="comment_name_67940452" target="_blank" charset="400-4" href="http://u.youku.com/user_show/id_UNTgwNjk4NDA=.html">loveTONO</a>
      </div>
        <div class="con">
                      <div name="content_67940452" id="content_67940452" class="text">
                  <p id="content_4dc8bdb7a834bfb14eb87f07">好复杂的四个人!!!<img title="无语" src="http://static.youku.com/v1.0.0736/index/img/smiley/Qoo5.gif"><br> </p>
                </div>
              
        </div></div>
      </div>
<div class="pagination">
              <ul>
                <li><a href="#">上一页</a></li>
                <li class="active">
                  <a href="#">1</a>
                </li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">下一页</a></li>
              </ul>
            </div>


</div>

          </div> <!-- /span16 -->

          
          
          
	</div> <!-- /row -->
	
{% endblock body %}