{% extends "school/layout.html" %}
{% block body %}

	<div class="row">
	  <div class="span16">
		<div class="breadcrumb">
			<span>当前位置：</span><a href="{{url_for('index')}}">首页</a><span class="divider">>></span><a href="{{url_for('cat_list_with_school',schoolname='scnu')}}">课程列表</a><span class="divider">>></span><span class="active"><a href="#">自然科学</a></span>
		</div>
	  </div>  <!-- /span16 -->
  </div> <!-- /row -->


	


  <div class="row">
    <div class="span4">
    

      <div class="well" style="padding: 8px 0;">
        <ul class="nav nav-list">
          <li class="nav-header">"为了明天"师范生技能大赛</li>
          <li class="active"><a href="#">2012年</a></li>
          <li><a href="#">2012年</a></li>
          <li><a href="#">2010年</a></li>
          <li class="nav-header">师范生基本教学技能训练</li>
          <li><a href="#">2012年</a></li>
          <li><a href="#">2012年</a></li>
          <li class="divider"></li>
          <li><a href="#">一线优秀教师教学技能训练</a></li>
        </ul>
      </div>

       <div class="box mbox "  >
        <div class="head"  >
              <div class="title ">
              <a href="#" target="_blank" class="blue">热门排行</a> 
              
              
              </div>
            <div class="more">
            
            <a href="videolist" target="_blank">更多</a>
            </div>
        </div>

        <div class="sRank_S body">
        <table cellspacing="0" cellpadding="0" class="table  table-condensed">
          <tbody>


                                  <tr class="topline">
                     <td class="show_sn"><span class="sn top3">01</span></td>
                          <td class="show_title">
                        <a target="_blank" charset="102590-16684-2-1" href="http://v.youku.com/v_show/id_XMzE1ODE3OTY0.html" title="太阳的新娘">太阳的新娘</a>
                      </td>
                          <td class="show_stat"><span class="num">8.1分</span></td>
            </tr>


                <tr>
                    <td class="show_sn"><span class="sn top3">02</span></td>
                          <td class="show_title">
                        <a target="_blank" charset="102590-16684-2-1" href="http://v.youku.com/v_show/id_XMzE1ODE3OTY0.html" title="太阳的新娘">太阳的新娘</a>
                      </td>
                          <td class="show_stat"><span class="num">8.1分</span></td>
                  </tr>


                <tr>
                    <td class="show_sn"><span class="sn top3">03</span></td>
                          <td class="show_title">
                        <a target="_blank" charset="102590-16684-3-1" href="http://v.youku.com/v_show/id_XMjcwMTM2ODc2.html" title="城市猎人">城市猎人</a>
                      </td>
                          <td class="show_stat"><span class="num">8.8分</span></td>
                  </tr>


                <tr>
                    <td class="show_sn"><span class="sn">04</span></td>
                          <td class="show_title">
                        <a target="_blank" charset="102590-16684-4-1" href="http://v.youku.com/v_show/id_XMzE4NzAxNDQ4.html" title="花美男拉面馆">花美男拉面馆</a>
                      </td>
                          <td class="show_stat"><span class="num">8.6分</span></td>
                  </tr>


                <tr>
                    <td class="show_sn"><span class="sn">05</span></td>
                          <td class="show_title">
                        <a target="_blank" charset="102590-16684-5-1" href="http://v.youku.com/v_show/id_XMTUxNzAxNDgw.html" title="原来是美男 韩国版">原来是美男 韩国版</a>
                      </td>
                          <td class="show_stat"><span class="num">9.2分</span></td>
                  </tr>


                <tr>
                    <td class="show_sn"><span class="sn">06</span></td>
                          <td class="show_title">
                        <a target="_blank" charset="102590-16684-6-1" href="http://v.youku.com/v_show/id_XMjIyMzE0OTI4.html" title="秘密花园">秘密花园</a>
                      </td>
                          <td class="show_stat"><span class="num">9.1分</span></td>
                  </tr>


                <tr>
                    <td class="show_sn"><span class="sn">07</span></td>
                          <td class="show_title">
                        <a target="_blank" charset="102590-16684-7-1" href="http://v.youku.com/v_show/id_XMzM5MDQ2ODY4.html" title="工薪族楚汉志">工薪族楚汉志</a>
                      </td>
                          <td class="show_stat"><span class="num">7.4分</span></td>
                  </tr>


                <tr>
                    <td class="show_sn"><span class="sn">08</span></td>
                          <td class="show_title">
                        <a target="_blank" charset="102590-16684-8-1" href="http://v.youku.com/v_show/id_XMjkxMjQ1OTIw.html" title="守护BOSS">守护BOSS</a>
                      </td>
                          <td class="show_stat"><span class="num">9.1分</span></td>
                  </tr>


                <tr>
                    <td class="show_sn"><span class="sn">09</span></td>
                          <td class="show_title">
                        <a target="_blank" charset="102590-16684-9-1" href="http://v.youku.com/v_show/id_XMTIyMDcwOTY4.html" title="家门的荣光">家门的荣光</a>
                      </td>
                          <td class="show_stat"><span class="num">9.4分</span></td>
                  </tr>


                <tr>
                    <td class="show_sn"><span class="sn">10</span></td>
                          <td class="show_title">
                        <a target="_blank" charset="102590-16684-10-1" href="http://v.youku.com/v_show/id_XMjEwMjIxMzcy.html" title="恶作剧之吻">恶作剧之吻</a>
                      </td>
                          <td class="show_stat"><span class="num">8.8分</span></td>
                  </tr>
                    </tbody>
        </table>
        </div>
      </div>

  </div> 











    <div class="span12">
    
        <div class="searchBox">
          <ul  class="nav nav-tabs tabs">
              <li class="active"><a href="#hot" data-toggle="tab">按热度排行</a></li>
              <li><a href="#date" data-toggle="tab">按时间排行</a></li>
              <li><a href="#score" data-toggle="tab">按评分排行</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">更多排行 <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#dropdown1" data-toggle="tab">按类型排行</a></li>
                  <li><a href="#dropdown2" data-toggle="tab">按学院排行</a></li>
                </ul>
              </li>
          </ul>
          
          
          <div class="tab-content ">
              <div class="tab-pane  active" id="hot">
                 <div class="videolist   clearfix">
            
                  <ul >
                        <li>
                            <div class="vediodiv">
                                <a href="{{url_for('video')}}"><img src="{{url_for('static',filename='images/tmp/poplar1.gif')}}" alt="">
                                    <span class="time">02:22</span>
                                  </a>
                                 <a href="#" class="updatelist"><em>更新到第6集</em></a>
                              </div>
                            <div class="clear"></div>
                            <p class="ttle"><a class="colr2" href="{{url_for('video')}}">数学文化</a></p>
                <p class="viewcounts"> 顾沛 </p>
                <p> 南开大学 </p>
                          </li>
                          <li>
                            <div class="vediodiv">
                                <a href="{{url_for('video')}}"><img src="{{url_for('static',filename='images/tmp/poplar2.gif')}}" alt="">
                                    <span class="time">02:22</span>
                                  </a>
                                 <a href="#" class="updatelist"><em>更新到第5集</em></a>
                              </div>
                            <div class="clear"></div>
                            <p><a class="colr2" href="{{url_for('video')}}"> 视觉文化批评 </a></p>
                <p class="viewcounts"> 冯原 </p>
                <p >中山大学</p>
                          </li>
                          <li>
                            <div class="vediodiv">
                                <a href="{{url_for('video')}}"><img src="{{url_for('static',filename='images/tmp/poplar3.gif')}}" alt="">
                                    <span class="time">02:22</span>
                                  </a>
                                 <a href="#" class="updatelist"><em>更新到第3集</em></a>
                              </div>
                            <div class="clear"></div>
                            <p><a class="colr2" href="{{url_for('video')}}">文化传承与建筑创新</a></p>
                <p class="viewcounts"> 何镜堂 </p>
                <p >华南理工大学<a href="#" class="undrlne"></a></p>
                          </li>
                          <li>
                            <div class="vediodiv">
                                <a href="{{url_for('video')}}"><img src="{{url_for('static',filename='images/tmp/poplar4.gif')}}" alt="">
                                    <span class="time">02:22</span>
                                  </a>
                                 <a href="#" class="updatelist"><em>更新到第13集</em></a>
                              </div>
                            <div class="clear"></div>
                            <p><a class="colr2" href="{{url_for('video')}}"> 走进交响音乐的世界 </a></p>
                <p class="viewcounts"> 何平 </p>
                <p > 华南理工大学 </p>
                          </li>
                          <li>
                            <div class="vediodiv">
                                <a href="{{url_for('video')}}"><img src="{{url_for('static',filename='images/tmp/poplar5.gif')}}" alt="">
                                    <span class="time">02:22</span>
                                  </a>
                                 <a href="#" class="updatelist"><em>更新到第4集</em></a>
                              </div>
                            <div class="clear"></div>
                            <p><a class="colr2" href="{{url_for('video')}}"> 历史与环保 </a></p>
                <p class="viewcounts"> 梅雪芹 </p>
                <p > 北京师范大学 </p>
                          </li>
                          <li>
                            <div class="vediodiv">
                                <a href="{{url_for('video')}}"><img src="{{url_for('static',filename='images/tmp/poplar6.gif')}}" alt="">
                                    <span class="time">02:22</span>
                                  </a>
                                 <a href="#" class="updatelist"><em>更新到第8集</em></a>
                              </div>
                            <div class="clear"></div>
                            <p><a class="colr2" href="{{url_for('video')}}"> 现代礼仪 </a></p>
                <p class="viewcounts"> 袁涤非 </p>
                <p > 湖南大学 </p>
                          </li>


                          <li>
                            <div class="vediodiv">
                                <a href="{{url_for('video')}}"><img src="{{url_for('static',filename='images/tmp/poplar1.gif')}}" alt="">
                                    <span class="time">02:22</span>
                                  </a>
                                 <a href="#" class="updatelist"><em>更新到第6集</em></a>
                              </div>
                            <div class="clear"></div>
                            <p class="ttle"><a class="colr2" href="{{url_for('video')}}">数学文化</a></p>
                <p class="viewcounts"> 顾沛 </p>
                <p> 南开大学 </p>
                          </li>
                          <li>
                            <div class="vediodiv">
                                <a href="{{url_for('video')}}"><img src="{{url_for('static',filename='images/tmp/poplar2.gif')}}" alt="">
                                    <span class="time">02:22</span>
                                  </a>
                                 <a href="#" class="updatelist"><em>更新到第5集</em></a>
                              </div>
                            <div class="clear"></div>
                            <p><a class="colr2" href="{{url_for('video')}}"> 视觉文化批评 </a></p>
                <p class="viewcounts"> 冯原 </p>
                <p >中山大学</p>
                          </li>
                          <li>
                            <div class="vediodiv">
                                <a href="{{url_for('video')}}"><img src="{{url_for('static',filename='images/tmp/poplar3.gif')}}" alt="">
                                    <span class="time">02:22</span>
                                  </a>
                                 <a href="#" class="updatelist"><em>更新到第3集</em></a>
                              </div>
                            <div class="clear"></div>
                            <p><a class="colr2" href="{{url_for('video')}}">文化传承与建筑创新</a></p>
                <p class="viewcounts"> 何镜堂 </p>
                <p >华南理工大学<a href="#" class="undrlne"></a></p>
                          </li>
                          <li>
                            <div class="vediodiv">
                                <a href="{{url_for('video')}}"><img src="{{url_for('static',filename='images/tmp/poplar4.gif')}}" alt="">
                                    <span class="time">02:22</span>
                                  </a>
                                 <a href="#" class="updatelist"><em>更新到第13集</em></a>
                              </div>
                            <div class="clear"></div>
                            <p><a class="colr2" href="{{url_for('video')}}"> 走进交响音乐的世界 </a></p>
                <p class="viewcounts"> 何平 </p>
                <p > 华南理工大学 </p>
                          </li>
                          <li>
                            <div class="vediodiv">
                                <a href="{{url_for('video')}}"><img src="{{url_for('static',filename='images/tmp/poplar5.gif')}}" alt="">
                                    <span class="time">02:22</span>
                                  </a>
                                 <a href="#" class="updatelist"><em>更新到第4集</em></a>
                              </div>
                            <div class="clear"></div>
                            <p><a class="colr2" href="{{url_for('video')}}"> 历史与环保 </a></p>
                <p class="viewcounts"> 梅雪芹 </p>
                <p > 北京师范大学 </p>
                          </li>
                          <li>
                            <div class="vediodiv">
                                <a href="{{url_for('video')}}"><img src="{{url_for('static',filename='images/tmp/poplar6.gif')}}" alt="">
                                    <span class="time">02:22</span>
                                  </a>
                                 <a href="#" class="updatelist"><em>更新到第8集</em></a>
                              </div>
                            <div class="clear"></div>
                            <p><a class="colr2" href="{{url_for('video')}}"> 现代礼仪 </a></p>
                <p class="viewcounts"> 袁涤非 </p>
                <p > 湖南大学 </p>
                          </li>
                           <li>
                            <div class="vediodiv">
                                <a href="{{url_for('video')}}"><img src="{{url_for('static',filename='images/tmp/poplar5.gif')}}" alt="">
                                    <span class="time">02:22</span>
                                  </a>
                                 <a href="#" class="updatelist"><em>更新到第4集</em></a>
                              </div>
                            <div class="clear"></div>
                            <p><a class="colr2" href="{{url_for('video')}}"> 历史与环保 </a></p>
                <p class="viewcounts"> 梅雪芹 </p>
                <p > 北京师范大学 </p>
                          </li>
                          <li>
                            <div class="vediodiv">
                                <a href="{{url_for('video')}}"><img src="{{url_for('static',filename='images/tmp/poplar6.gif')}}" alt="">
                                    <span class="time">02:22</span>
                                  </a>
                                 <a href="#" class="updatelist"><em>更新到第8集</em></a>
                              </div>
                            <div class="clear"></div>
                            <p><a class="colr2" href="{{url_for('video')}}"> 现代礼仪 </a></p>
                <p class="viewcounts"> 袁涤非 </p>
                <p > 湖南大学 </p>
                          </li>
                           <li>
                            <div class="vediodiv">
                                <a href="{{url_for('video')}}"><img src="{{url_for('static',filename='images/tmp/poplar5.gif')}}" alt="">
                                    <span class="time">02:22</span>
                                  </a>
                                 <a href="#" class="updatelist"><em>更新到第4集</em></a>
                              </div>
                            <div class="clear"></div>
                            <p><a class="colr2" href="{{url_for('video')}}"> 历史与环保 </a></p>
                <p class="viewcounts"> 梅雪芹 </p>
                <p > 北京师范大学 </p>
                          </li>
                          <li>
                            <div class="vediodiv">
                                <a href="{{url_for('video')}}"><img src="{{url_for('static',filename='images/tmp/poplar6.gif')}}" alt="">
                                    <span class="time">02:22</span>
                                  </a>
                                 <a href="#" class="updatelist"><em>更新到第8集</em></a>
                              </div>
                            <div class="clear"></div>
                            <p><a class="colr2" href="{{url_for('video')}}"> 现代礼仪 </a></p>
                <p class="viewcounts"> 袁涤非 </p>
                <p > 湖南大学 </p>
                          </li>
            </ul>
            <div class="pagination">
              <ul>
                <li><a href="#">上一页</a></li>
                <li class="active">
                  <a href="#">1</a>
                </li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">下一页</a></li>
              </ul>
            </div>
            </div>
              </div>
              <div class="tab-pane " id="date">
                <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
              </div>
          
              <div class="tab-pane " id="score">
                <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
              </div>
          
              <div class="tab-pane " id="dropdown1">
                <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
              </div>
              <div class="tab-pane " id="dropdown2">
                <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
              </div>
            </div>
        </div>




    </div>  <!-- /span16 -->
  </div> <!-- /row -->
{% endblock body %}

{% block addScripts %}





  <script src="{{ js_url('libs/bootstrap-dropdown.js' )}}" type="text/javascript" charset="utf-8"></script>
   <script src="{{ js_url('libs/bootstrap-tabs.js' )}}" type="text/javascript" charset="utf-8"></script>
<script>
$(function(){
    $('.tabs').tabs();

  })
</script>
{% endblock %}}
